<template>
<section>
  <div id="model">
    <h1>Le Client</h1>

    <img src="../../../assets/img/server/client.png" alt="Image d'un client"/>
  </div>

  <div id="browsers">
    <h1>Navigateurs</h1>

    <img src="../../../assets/img/server/Navigateurs.png" alt="Image de navigateurs"/>
  </div>

  <div id="langages">
    <h1>Langages</h1>
    <img src="../../../assets/img/server/html5-css-javascript-logos.png" alt="Logo des langages du web"/>
  </div>
</section>
</template>

<script>
export default {
  name: 'Client'
}
</script>

<style lang="scss" scoped>
section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
      text-decoration: underline;
      margin-bottom: 50px;
    }

    img {
      max-width: 100%;
     max-height: 550px;
    }
  }
}
</style>
