<template>
  <section>
    <v-expansion-panels>
      <v-expansion-panel>
        <v-expansion-panel-header>Exemple de serveur</v-expansion-panel-header>
        <v-expansion-panel-content>
          <div id="server__images">
            <img src="../../../assets/img/server/Serveur_1.jpg" alt="Image de serveur">
            <img src="../../../assets/img/server/Serveur_3.jpg" alt="Image de serveur">
            <img src="../../../assets/img/server/Serveur_2.jpg" alt="Image de serveur">
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>Technologies de serveur</v-expansion-panel-header>
        <v-expansion-panel-content>
          <img src="../../../assets/img/server/nginx_logo.png" alt="Logo de NGINX">
          <img src="../../../assets/img/server/apache_logo.png" alt="Logo de Apache">
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>Langages serveur</v-expansion-panel-header>
        <v-expansion-panel-content>
          <img src="../../../assets/img/server/Csharp.png" class="img__langage" alt="Logo de CSharp">
          <img src="../../../assets/img/server/Ruby.png" class="img__langage" alt="Logo de Ruby">
          <img src="../../../assets/img/server/php.png" class="img__langage" alt="Logo de PHP">
          <img src="../../../assets/img/server/Java.png" class="img__langage" alt="Logo de Java">
          <img src="../../../assets/img/server/Python.png" class="img__langage" alt="Logo de Python">
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </section>
</template>

<script>
export default {
  name: 'Server'
}
</script>

<style lang="scss" scoped>
  section {
    .v-item-group {
      .v-expansion-panel-content {

        img {
          max-width: 100%;
          margin: 20px;
          object-fit: cover;

          &.img__langage {
            height: 150px;
          }
        }

        #server__images {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 10px;
          align-items: center;

          img {
            margin: 0;

            &:nth-child(3) {
              grid-column: 1/3;
            }
          }
        }
      }
    }
  }
</style>
