<template>
  <div id="css__app__container">
    <div id="container__actions">
      <v-expansion-panels>
        <v-expansion-panel>
          <v-expansion-panel-header>Placement</v-expansion-panel-header>
          <v-expansion-panel-content>
            <placement-css/>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>Bordure</v-expansion-panel-header>
          <v-expansion-panel-content>
            <border-css/>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>Taille de fenêtre</v-expansion-panel-header>
          <v-expansion-panel-content>
            <size-css/>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>Marge</v-expansion-panel-header>
          <v-expansion-panel-content>
            <margin-padding-css/>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>Texte</v-expansion-panel-header>
          <v-expansion-panel-content>
            <text-css/>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>Curseur</v-expansion-panel-header>
          <v-expansion-panel-content>
            <cursor-css/>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>Fond</v-expansion-panel-header>
          <v-expansion-panel-content>
            <background-css/>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>Ombrage</v-expansion-panel-header>
          <v-expansion-panel-content>
            <box-shadow-css/>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>Généralités</v-expansion-panel-header>
          <v-expansion-panel-content>
            <general-css/>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
    <div id="container__test__placement" v-if="placementActive">
      <h3>Conteneur de placement</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisl augue. Suspendisse faucibus, ipsum
        vitae tincidunt tempor, nisi nulla eleifend felis, in pretium ante nibh non sem.
      </p>
      <p :style="placementMobilParagraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisl augue. Suspendisse faucibus, ipsum
        vitae tincidunt tempor, nisi nulla eleifend felis, in pretium ante nibh non sem.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisl augue. Suspendisse faucibus, ipsum
        vitae tincidunt tempor, nisi nulla eleifend felis, in pretium ante nibh non sem.
      </p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisl augue. Suspendisse faucibus, ipsum vitae
      tincidunt tempor, nisi nulla eleifend felis, in pretium ante nibh non sem. Pellentesque feugiat sapien nibh, nec
      blandit libero dictum a. Integer a vestibulum lectus. Curabitur scelerisque ante eu suscipit volutpat. Phasellus
      lacinia cursus ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisl augue.
      Suspendisse faucibus, ipsum vitae tincidunt tempor, nisi nulla eleifend felis, in pretium ante nibh non sem.
      Pellentesque feugiat sapien nibh, nec blandit libero dictum a. Integer a vestibulum lectus. Curabitur scelerisque
      ante eu suscipit volutpat. Phasellus lacinia cursus ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Integer id nisl augue. Suspendisse faucibus, ipsum vitae tincidunt tempor, nisi nulla eleifend felis, in
      pretium ante nibh non sem. Pellentesque feugiat sapien nibh, nec blandit libero dictum a. Integer a vestibulum
      lectus. Curabitur scelerisque ante eu suscipit volutpat. Phasellus lacinia cursus ultricies. Lorem ipsum dolor sit
      amet, consectetur adipiscing elit. Integer id nisl augue. Suspendisse faucibus, ipsum vitae tincidunt tempor, nisi
      nulla eleifend felis, in pretium ante nibh non sem. Pellentesque feugiat sapien nibh, nec blandit libero dictum a.
      Integer a vestibulum lectus. Curabitur scelerisque ante eu suscipit volutpat. Phasellus lacinia cursus ultricies.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisl augue. Suspendisse faucibus, ipsum vitae
      tincidunt tempor, nisi nulla eleifend felis, in pretium ante nibh non sem. Pellentesque feugiat sapien nibh, nec
      blandit libero dictum a. Integer a vestibulum lectus. Curabitur scelerisque ante eu suscipit volutpat. Phasellus
      lacinia cursus ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisl augue.
      Suspendisse faucibus, ipsum vitae tincidunt tempor, nisi nulla eleifend felis, in pretium ante nibh non sem.
      Pellentesque feugiat sapien nibh, nec blandit libero dictum a. Integer a vestibulum lectus. Curabitur scelerisque
      ante eu suscipit volutpat. Phasellus lacinia cursus ultricies.
    </div>
    <div id="container__test" v-else>
      <p :style="css">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisl augue. Suspendisse faucibus, ipsum
        vitae tincidunt tempor, nisi nulla eleifend felis, in pretium ante nibh non sem. Pellentesque feugiat sapien
        nibh, nec blandit libero dictum a. Integer a vestibulum lectus. Curabitur scelerisque ante eu suscipit
        volutpat. Phasellus lacinia cursus ultricies.
      </p>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Test',
  data () {
    return {}
  },
  components: {
    BackgroundCss: () => import('@/components/CSS/Test/BackgroundCss'),
    BorderCss: () => import('@/components/CSS/Test/BorderCss'),
    BoxShadowCss: () => import('@/components/CSS/Test/BoxShadowCss'),
    CursorCss: () => import('@/components/CSS/Test/CursorCss'),
    GeneralCss: () => import('@/components/CSS/Test/GeneralCss'),
    MarginPaddingCss: () => import('@/components/CSS/Test/MarginPaddingCss'),
    PlacementCss: () => import('@/components/CSS/Test/PlacementCss'),
    SizeCss: () => import('@/components/CSS/Test/SizeCss'),
    TextCss: () => import('@/components/CSS/Test/TextCss')
  },
  computed: {
    ...mapGetters('Css', [
      'css',
      'placementActive',
      'placementMobilParagraph'
    ])
  }
}
</script>

<style lang="scss" scoped>
  #css__app__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 30px 10px;
    position: relative;

    #container__test__placement {
      overflow-y: scroll;
      position: relative;
      height: 450px;

      p {
        display: inline-block;
        width: 31%;
        border: 1px solid black;
        font-size: 14px;
        margin: 5px;
        text-align: center;

        &:nth-child(2), &:last-child {
          background-color: rgb(255, 0, 0);
          position: static;
        }

        &:nth-child(3) {
          background-color: rgb(255, 255, 0);
        }
      }
    }
  }
</style>
