section {
  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-gap: 30px;

  h2 {
    grid-column: 1/3;
    margin-bottom: 15px;
  }

  .code__actions {
    display: flex;
    flex-direction: column;

    button {
      margin: 10px 0;
    }
  }
}
