<template>
  <nav>
    <ul>
      <li class="list__title">Technologies Javascript</li>
      <router-link :to="{ name: 'js-technology-jquery' }">
        <li :class="{ 'active-section': activeRoute('js-technology-jquery') }">
          <v-icon size="50">library_books</v-icon>
          JQuery
        </li>
      </router-link>
      <router-link :to="{ name: 'js-technology-framework' }">
        <li :class="{ 'active-section': activeRoute('js-technology-framework') }">
          <v-icon size="50">dynamic_feed</v-icon>
          Les framework
        </li>
      </router-link>
      <router-link :to="{ name: 'js-technology-plus' }">
        <li :class="{ 'active-section': activeRoute('js-technology-plus') }">
          <v-icon size="50">add</v-icon>
          Aller plus loin
        </li>
      </router-link>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'NavGeneral',
  methods: {
    activeRoute (routeName) {
      return this.$route.name === routeName
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/html/homeStyle";

  section {
    nav {
      ul {
        grid-template-columns: repeat(3, 1fr);

        li.list__title {
          grid-column: 1/4;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }
</style>
