@import "general";

.important {
  font-weight: bold;
  color: red;
}

.app__code__block {
  display: grid;
  grid-template-columns: 1fr 7fr 5fr;
  align-items: center;
  margin: 5px 0;
  font-size: 18px;
  box-sizing: border-box;

  @media all and (max-width: $s) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid grey;
  }

  .app__code__multiline {
    display: inline-block;
    text-align: left;
  }

  .app__console__title {
    width: 200px;
    font-size: 24px;
    padding-right: 20px;
    text-align: right;

    @media all and (max-width: $s) {
      text-align: center;
      padding-right: 0;
      padding-bottom: 5px;
    }
  }

  .app__console__code {
    background-color: rgb(35, 39, 41);
    color: white;
    padding: 20px;
    display: inline-block;
    border: 4px solid #c3c3c3;
    box-shadow: 2px 2px 2px gray, -1px -1px 2px white;
    text-align: center;

    @media all and (max-width: $s) {
      width: 95%;
      font-size: 16px;
    }

    .tag__formatted {
      color: #ffff00;
    }

    .attribute__formatted {
      color: #00ff00;
    }

    .attributeValue__formatted {
      color: #00c1ff;
    }

    .comment__formatted {
      color: #7d7d7d;
    }
  }

  .app__console__code::v-deep {
    .app__console__css__container {
      display: inline-block;
      text-align: left;

      .app__css__style-tag {
        color: #ffff00;
      }

      .css__property {
        color: #d7d7d7;
      }

      .css__tags {
        margin-left: 30px;
      }

      .css__value, .css__custom__tag {
        color: #e8c000;

        .css__number, .css__colorName {
          color: #21b0bb
        }
      }

      .css__semicolon, .css__general__tag, .css__value__important {
        color: #cc6400;
      }
    }
  }

  .app__code__fullscreen {
    grid-column: 1/4;
  }

  .app__console__text {
    text-align: left;
    padding-left: 20px;

    @media all and (max-width: $s) {
      text-align: center;
      padding-right: 0;
      padding-left: 0;
      padding-top: 5px;
    }
  }
}

.app__container__fullscreen {
  border: none
}
