@import "general";

div {
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }

  section#clientServer {
    display: flex;
    flex-direction: column;

    div {
      box-shadow: 10px 10px 15px #c6c6c6;

      @media all and (max-width: $s) {
        box-shadow: none;
      }
    }

    div:not(:last-child), nav:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
