<template>
  <v-slider min="0" max="50" step="1" thumb-label="always" value="value" @input="onChange" :label="label"/>
</template>

<script>
export default {
  name: 'MarginPadding',
  props: {
    value: {
      type: Number,
      required: true
    },
    label: {
      type: String,
      required: true
    }
  },
  methods: {
    onChange (event) {
      this.$emit('input', event)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../style";
</style>
