section {
  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-gap: 30px;

  h2, h3 {
    grid-column: 1/3;
  }

  p {
    display: flex;
    align-items: center;

    &.infos {
      margin: 0;
    }
  }

  div.infos {
    grid-column: 1/3;
  }

  img {
    grid-column: 1/3;
    margin: auto;
  }

  table {
    grid-column: 1/3;
    border-collapse: collapse;
    border: 2px solid black;

    thead {
      background-color: rgba(240, 240, 240, 0.5);

      tr {
        th:not(:last-child) {
          border-right: 1px dashed black;
        }
      }
    }

    tr {
      border: 1px solid black;

      td {
        text-align: center;
        padding: 5px;

        &:not(:last-child) {
          border-right: 1px dashed black;
        }
      }
    }
  }
}
