<template>
  <section>
    <h2>Les opérateurs</h2>

    <table>
      <thead>
      <tr>
        <th scope="col">Opérateur</th>
        <th scope="col">Signification</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><code>==</code></td>
        <td>...égal à...</td>
      </tr>
      <tr>
        <td><code>!=</code></td>
        <td>...différent de...</td>
      </tr>
      <tr>
        <td><code>===</code></td>
        <td>...contenu et type égal à...</td>
      </tr>
      <tr>
        <td><code>!==</code></td>
        <td>...contenu ou type différent de...</td>
      </tr>
      <tr>
        <td><code>></code></td>
        <td>...supérieur à...</td>
      </tr>
      <tr>
        <td><code>>=</code></td>
        <td>...supérieur ou égal à...</td>
      </tr>
      <tr>
        <td><code><</code></td>
        <td>...inférieur à...</td>
      </tr>
      <tr>
        <td><code><=</code></td>
        <td>...inférieur ou égal à...</td>
      </tr>
      </tbody>
    </table>

    <h2>if...if else...else</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ ifElse.complet }}</code>
    </pre>

    <v-btn @click="ifElseCompletTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ ifElse.short }}</code>
    </pre>

    <v-btn @click="ifElseShortTest">Essai</v-btn>

    <h2>switch</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ switchValue }}</code>
    </pre>

    <v-btn @click="switchTest">Essai</v-btn>

    <h2>Ternaires</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ ternaire.simple }}</code>
    </pre>

    <v-btn @click="ternaireSimple">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ ternaire.simpleReturn }}</code>
    </pre>

    <v-btn @click="ternaireSimpleReturn">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ ternaire.nested }}</code>
    </pre>

    <v-btn @click="ternaireNested">Essai</v-btn>

    <h2>Ternaires</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ ternaire.simple }}</code>
    </pre>

    <v-btn @click="ternaireSimple">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ ternaire.simpleReturn }}</code>
    </pre>

    <v-btn @click="ternaireSimpleReturn">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ ternaire.nested }}</code>
    </pre>

    <v-btn @click="ternaireNested">Essai</v-btn>

    <h2>Points d'attention</h2>

    <table>
      <thead>
      <tr>
        <th scope="col">Type de la variable</th>
        <th scope="col">Valeur en boolean</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <code>null</code><br/>
          <code>undefined</code><br/>
          <code>0</code><br/>
          <code>''</code><br/>
          <code>NaN</code>
        </td>
        <td><code>false</code></td>
      </tr>
      <tr>
        <td>
          <code>'string'</code><br/>
          <code>1</code><br/>
        </td>
        <td>true</td>
      </tr>
      <tr>
        <td>
          <code>[]</code><br/>
          <code>{}</code><br/>
        </td>
        <td>true</td>
      </tr>
      <tr>
        <td>
          <code>[].length</code><br/>
          <code>Object.entries({}).length</code><br/>
        </td>
        <td>false</td>
      </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
export default {
  name: 'Condition',
  data () {
    return {
      ifElse: {
        complet: `let percent = prompt('Note : ')

 if (percent <= 33) {
   console.log('Attention, tu dois revoir ta leçon !')
 } else if (percent > 33 && percent <= 67) {
   console.log('Tu es dans la moyenne !')
 } else {
   console.log('Tu es dans la partie haute !')
 }`,
        short: `let percent = prompt('Note : ')

 if (percent <= 33) console.log('Attention, tu dois revoir ta leçon !')
 else if (percent > 33 && percent <= 67) console.log('Tu es dans la moyenne !')
 else console.log('Tu es dans la partie haute !')`
      },
      switchValue: `let fruit = prompt('Fruit : ')
 switch (fruit) {
   case 'Oranges':
     console.log('Oranges : 0.59 € le kilo.')
     break
   case 'Pommes':
     console.log('Pommes : 0.32 € le kilo.')
     break
   case 'Bananes':
     console.log('Bananes : 0.48 € le kilo.')
   case 'Cerises':
     console.log('Cerises : 3.00 € le kilo.')
     break
   case 'Mangues':
   case 'Papayes':
     console.log('Mangues et papayes : 2.79 € le kilo.')
     break
   default:
     console.log('Désolé, nous n\\'avons pas de ' + fruit + '.')
 }`,
      ternaire: {
        simple: `let age = prompt('Âge : ')

 age > 18
   ? console.log('Tu es majeur !')
   : console.log('Tu es mineur !')`,
        simpleReturn: `let age = prompt('Âge : ')

 let message = age > 18
   ? 'Tu es majeur !'
   : 'Tu es mineur !'

 console.log(message)`,
        nested: `let percent = prompt('Note : ')

 percent <= 33
   ? console.log('Attention, tu dois revoir ta leçon !')
   : percent > 33 && percent <= 67
     ? console.log('Tu es dans la moyenne !')
     : console.log('Tu es dans la partie haute !')`
      }
    }
  },
  methods: {
    ifElseCompletTest () {
      let percent = prompt('Note : ')

      if (percent <= 33) {
        console.log('Attention, tu dois revoir ta leçon !')
      } else if (percent > 33 && percent <= 67) {
        console.log('Tu es dans la moyenne !')
      } else {
        console.log('Tu es dans la partie haute !')
      }
    },
    ifElseShortTest () {
      let percent = prompt('Note : ')

      if (percent <= 33) console.log('Attention, tu dois revoir ta leçon !')
      else if (percent > 33 && percent <= 67) console.log('Tu es dans la moyenne !')
      else console.log('Tu es dans la partie haute !')
    },
    switchTest () {
      let fruit = prompt('Fruit : ')
      switch (fruit) {
        case 'Oranges':
          console.log('Oranges : 0.59 € le kilo.')
          break
        case 'Pommes':
          console.log('Pommes : 0.32 € le kilo.')
          break
        case 'Bananes':
          console.log('Bananes : 0.48 € le kilo.')
        case 'Cerises':
          console.log('Cerises : 3.00 € le kilo.')
          break
        case 'Mangues':
        case 'Papayes':
          console.log('Mangues et papayes : 2.79 € le kilo.')
          break
        default:
          console.log('Désolé, nous n\'avons pas de ' + fruit + '.')
      }
    },
    ternaireSimple () {
      let age = prompt('Âge : ')

      age > 18
        ? console.log('Tu es majeur !')
        : console.log('Tu es mineur !')
    },
    ternaireSimpleReturn () {
      let age = prompt('Âge : ')

      let message = age > 18
        ? 'Tu es majeur !'
        : 'Tu es mineur !'

      console.log(Object.entries({}).length)
    },
    ternaireNested () {
      let percent = prompt('Note : ')

      percent <= 33
        ? console.log('Attention, tu dois revoir ta leçon !')
        : percent > 33 && percent <= 67
          ? console.log('Tu es dans la moyenne !')
          : console.log('Tu es dans la partie haute !')
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../../../node_modules/vue-code-highlight/themes/prism-okaidia.css";
  @import "../../../../../node_modules/vue-code-highlight/themes/window.css";
  @import "style";
</style>
