<template>
  <section>
    <h2>Déclarations</h2>

    <h3>function declaration</h3>

    <pre v-highlight class="language-javascript">
      <code>{{ functionDeclaration.declaration.after }}</code>
    </pre>

    <v-btn @click="declarationFunctionTest('after')">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ functionDeclaration.declaration.before }}</code>
    </pre>

    <v-btn @click="declarationFunctionTest('before')">Essai</v-btn>

    <h3>function expression</h3>

    <pre v-highlight class="language-javascript">
      <code>{{ functionDeclaration.expression.after }}</code>
    </pre>

    <v-btn @click="expressionFunctionTest('after')">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ functionDeclaration.expression.before }}</code>
    </pre>

    <v-btn @click="expressionFunctionTest('before')">Essai</v-btn>

    <div class="infos">
      <p class="infos">Avantages :</p>
      <ul>
        <li>N'est déclarée que si on exécute le code où elle se trouve</li>
        <li>Garde la portée de où elle a été déclarée</li>
      </ul>
    </div>

    <h3>fat arrow</h3>

    <pre v-highlight class="language-javascript">
      <code>{{ functionDeclaration.fatArrow.directReturn }}</code>
    </pre>

    <v-btn @click="fatArrowDirectReturnTest">Essai</v-btn>

    <div class="infos">
      <p class="infos">Avantage :</p>
    </div>

    <pre v-highlight class="language-javascript">
      <code>{{ functionDeclaration.fatArrow.badScope }}</code>
    </pre>

    <v-btn @click="fatArrowBadScopeTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ functionDeclaration.fatArrow.goodScope }}</code>
    </pre>

    <v-btn @click="fatArrowGoodScopeTest">Essai</v-btn>
  </section>
</template>

<script>
export default {
  name: 'Function',
  data () {
    return {
      functionDeclaration: {
        declaration: {
          after: `function add (a, b) {
   console.log(a + b)
 }

 add(1, 2)`,
          before: `add(1, 2)

 function add (a, b) {
   console.log(a + b)
 }`
        },
        expression: {
          after: `const add = function (a, b) {
   console.log(a + b)
 }

 add(1, 2)`,
          before: `add(1, 2)

 const add = function (a, b) {
   console.log(a + b)
 }`
        },
        fatArrow: {
          directReturn: `const add = (a, b) => a + b

 console.log(add(1, 2))`,
          badScope: `function Personne () {
 this.age = 0

 let interval = setInterval(function grandir () {
   this.age++
   console.log(this.age)
 }, 1000)`,
          goodScope: `function Personne () {
 this.age = 0

 let interval = setInterval(() => {
   this.age++
   console.log(this.age)
 }, 1000)`
        }
      }
    }
  },
  methods: {
    declarationFunctionTest (position) {
      if (position === 'before') add(1, 2)

      function add (a, b) {
        console.log(a + b)
      }

      if (position === 'after') add(1, 2)
    },
    expressionFunctionTest (position) {
      if (position === 'before') add(1, 2)

      const add = function (a, b) {
        console.log(a + b)
      }

      if (position === 'after') add(1, 2)
    },
    fatArrowDirectReturnTest (value) {
      const add = (a, b) => a + b

      console.log(add(1, 2))
    },
    fatArrowBadScopeTest () {
      function Personne () {
        this.age = 0

        let interval = setInterval(function grandir () {
          this.age++
          console.log(this.age)
        }, 1000)

        setTimeout(() => {
          clearInterval(interval)
        }, 10000)
      }

      let p = new Personne()
    },
    fatArrowGoodScopeTest () {
      function Personne () {
        this.age = 0

        let interval = setInterval(() => {
          this.age++
          console.log(this.age)
        }, 1000)

        setTimeout(() => {
          clearInterval(interval)
        }, 10000)
      }

      let p = new Personne()
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../../../node_modules/vue-code-highlight/themes/prism-okaidia.css";
  @import "../../../../../node_modules/vue-code-highlight/themes/window.css";
  @import "style";
</style>
