<template>
  <section>
    <h2>while...</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ whileLoop.trueValue }}</code>
    </pre>

    <v-btn @click="whileLoopTest(false)">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ whileLoop.falseValue }}</code>
    </pre>

    <v-btn @click="whileLoopTest(true)">Essai</v-btn>

    <h2>do...while</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ doWhileLoop.trueValue }}</code>
    </pre>

    <v-btn @click="doWhileLoopTest(false)">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ doWhileLoop.falseValue }}</code>
    </pre>

    <v-btn @click="doWhileLoopTest(true)">Essai</v-btn>

    <h2>for...</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ forLoop }}</code>
    </pre>

    <v-btn @click="forLoopTest">Essai</v-btn>

    <h2>for...in</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ forInLoop.arrayValue }}</code>
    </pre>

    <v-btn @click="forInLoopTest('array')">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ forInLoop.objectValue }}</code>
    </pre>

    <v-btn @click="forInLoopTest('object')">Essai</v-btn>

    <h2>for...of</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ forOfLoop.arrayValue }}</code>
    </pre>

    <v-btn @click="forOfLoopTest('array')">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ forOfLoop.objectValue }}</code>
    </pre>

    <v-btn @click="forOfLoopTest('object')">Essai</v-btn>

  </section>
</template>

<script>
export default {
  name: 'Loop',
  data () {
    return {
      whileLoop: {
        trueValue: `let number = 1

 while (number <= 10) {
   console.log(number++)
 }`,
        falseValue: `let number = 11

 while (number <= 10) {
   console.log(number++)
 }`
      },
      doWhileLoop: {
        trueValue: `let number = 1

 do {
   console.log(number++)
 } while (number <= 10)`,
        falseValue: `let number = 11

 do {
   console.log(number++)
 } while (number <= 10)`
      },
      forLoop: `let users = ['JohnDoe', 'JaneDoe', 'JimDoe']

 for (let i = 0, l = users.length; i < l; i++) {
   console.log(users[i])
 }`,
      forInLoop: {
        arrayValue: `let users = ['JohnDoe', 'JaneDoe', 'JimDoe']

 for (let i in users) {
   console.log(i)
 }`,
        objectValue: `let users = { name: 'JohnDoe', age: 30, mail: 'john@doe.fr' }

 for (let i in user) {
   console.log(i)
 }`
      },
      forOfLoop: {
        arrayValue: `let users = ['JohnDoe', 'JaneDoe', 'JimDoe']

 for (let i of users) {
   console.log(i)
 }`,
        objectValue: `let users = { name: 'JohnDoe', age: 30, mail: 'john@doe.fr' }

 for (let [key, value] of Object.entries(user)) {
   console.log(key, value)
 }`
      }
    }
  },
  methods: {
    whileLoopTest (valueError) {
      let number = valueError ? 11 : 1

      while (number <= 10) {
        console.log(number++)
      }
    },
    doWhileLoopTest (valueError) {
      let number = valueError ? 11 : 1

      do {
        console.log(number++)
      } while (number <= 10)
    },
    forLoopTest () {
      let users = ['JohnDoe', 'JaneDoe', 'JimDoe']

      for (let i = 0, l = users.length; i < l; i++) {
        console.log(users[i])
      }
    },
    forInLoopTest (type) {
      let user = type === 'object'
        ? { name: 'JohnDoe', age: 30, mail: 'john@doe.fr' }
        : ['JohnDoe', 'JaneDoe', 'JimDoe']

      for (let i in user) {
        console.log(i)
      }
    },
    forOfLoopTest (type) {
      let user = type === 'object'
        ? { name: 'JohnDoe', age: 30, mail: 'john@doe.fr' }
        : ['JohnDoe', 'JaneDoe', 'JimDoe']

      for (let [key, value] of Object.entries(user)) {
        console.log(key, value)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../../../node_modules/vue-code-highlight/themes/prism-okaidia.css";
  @import "../../../../../node_modules/vue-code-highlight/themes/window.css";
  @import "style";
</style>
