<template>
  <section>
    <h2>Les opérateurs</h2>

    <table>
      <thead>
      <tr>
        <th scope="col">Opération</th>
        <th scope="col">Utilisation</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <code>+</code>
          <code>-</code>
          <code>/</code>
          <code>*</code>
        </td>
        <td>...comme en maths</td>
      </tr>
      <tr>
        <td>
          <code>%</code><br/>
          modulo
        </td>
        <td>
          ...donne le reste de la division<br/>
          <code>8 % 3 = 2</code>
        </td>
      </tr>
      <tr>
        <td>
          <code>+=</code>
          <code>-=</code>
          <code>/=</code>
          <code>*=</code>
        </td>
        <td>
          ...applique l'opération sur la variable avant avec lui-même en valeur<br/>
          <code>age += 1</code> ...équivaut à... <code>age = age + 1</code>
        </td>
      </tr>
      <tr>
        <td>
          <code>++</code><br/>
          increment
        </td>
        <td>
          ...ajoute 1 à la variable<br/>
          Faire attention : <code>age++</code> ...est différent de... <code>++age</code><br/>
          Dans le premier cas, on applique la variable et ensuite on y ajoute 1,<br/>
          dans le second on y ajoute 1 et l'applique ensuite (cf. : exemple)
        </td>
      </tr>
      <tr>
        <td>
          <code>--</code><br/>
          decrement
        </td>
        <td>
          ...retranche 1 à la variable<br/>
          Même application que pour <code>++</code>
        </td>
      </tr>
      </tbody>
    </table>

    <h2>Exemples</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ preIncrement }}</code>
    </pre>

    <v-btn @click="preIncrementTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ postIncrement }}</code>
    </pre>

    <v-btn @click="postIncrementTest">Essai</v-btn>
  </section>
</template>

<script>
export default {
  name: 'Maths',
  data () {
    return {
      preIncrement: `let index = 0
 let users = ['JohnDoe', 'JaneDoe', 'JimDoe']

 console.log(users[++index], index)`,
      postIncrement: `let index = 0
 let users = ['JohnDoe', 'JaneDoe', 'JimDoe']

 console.log(users[index++], index)`
    }
  },
  methods: {
    preIncrementTest () {
      let index = 0
      let users = ['JohnDoe', 'JaneDoe', 'JimDoe']

      console.log(users[++index], index)
    },
    postIncrementTest () {
      let index = 0
      let users = ['JohnDoe', 'JaneDoe', 'JimDoe']

      console.log(users[index++], index)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../../../node_modules/vue-code-highlight/themes/prism-okaidia.css";
  @import "../../../../../node_modules/vue-code-highlight/themes/window.css";
  @import "style";
</style>
