<template>
  <section>
  <pre v-highlight class="language-javascript">
      <code>{{ typeOf }}</code>
    </pre>

    <v-btn @click="typeOfTest">Essai</v-btn>

    <h2>Les types primitifs</h2>
    <pre v-highlight class="language-javascript">
      <code>{{ primitive.string }}</code>
    </pre>

    <v-btn @click="typeTest('string')">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ primitive.number }}</code>
    </pre>

    <v-btn @click="typeTest('number')">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ primitive.boolean }}</code>
    </pre>

    <v-btn @click="typeTest('boolean')">Essai</v-btn>

    <h2>Les types complexes</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ complexe.array }}</code>
    </pre>

    <v-btn @click="typeTest('array')">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ complexe.object }}</code>
    </pre>

    <v-btn @click="typeTest('object')">Essai</v-btn>

    <h2>Les types "erreur"</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ error.null }}</code>
    </pre>

    <v-btn @click="typeTest('null')">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ error.undefined }}</code>
    </pre>

    <v-btn @click="typeTest('undefined')">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ error.NaN }}</code>
    </pre>

    <v-btn @click="typeTest('NaN')">Essai</v-btn>

    <h2>Passage en référence</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ reference.primitive }}</code>
    </pre>

    <v-btn @click="notReferencetest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ reference.complexe }}</code>
    </pre>

    <v-btn @click="referenceTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ reference.modifyArray }}</code>
    </pre>

    <p></p>

    <pre v-highlight class="language-javascript">
      <code>{{ reference.modifyObject }}</code>
    </pre>

    <p></p>

    <p id="alert__paragraph">
      Attention la version "spread operator" ou "opérateur de destructuration" ne fonctionne pas avec EDGE !

      <a href="https://caniuse.com/#search=spread%20operator" target="_blank">Can I use : spread operator</a>
    </p>

    <h2>Utiliser les objets et les tableaux</h2>

    <pre v-highlight class="language-javascript">
      <code>users[0]</code>
    </pre>

    <p>Tableaux</p>

    <pre v-highlight class="language-javascript">
      <code>{{ objectValue.direct }}</code>
    </pre>

    <p>Objets</p>

    <pre v-highlight class="language-javascript">
      <code>{{ objectValue.someArray }}</code>
    </pre>

    <p>Objets</p>
  </section>
</template>

<script>
export default {
  name: 'Type',
  data () {
    return {
      typeOf:
        `let name = 'John Doe';
 console.log(typeof name)`,
      primitive: {
        string:
          `let name = 'John Doe';
 console.log(typeof name)`,
        number:
          `let age = 30';
 console.log(typeof age)`,
        boolean:
          `let male = true;
 console.log(typeof male)`
      },
      complexe: {
        array:
          `let users = ['JohnDoe', 'JaneDoe']';
 console.log(typeof users)`,
        object:
          `let user = { name: 'JohnDoe', age: 30 }';
 console.log(typeof user)`
      },
      error: {
        null:
          `let users = null';
 console.log(typeof users)`,
        undefined:
          `let user = undefined';
 console.log(typeof user)`,
        NaN:
          `let age = NaN';
 console.log(typeof age)`
      },
      reference: {
        primitive: `let firstName = 'John'
 let lastName = firstName
 lastName = 'Doe'

 console.log(firstName + ' ' + lastName)`,
        complexe: `let users = ['JohnDoe', 'JaneDoe']
 let users2 = users
 users2[1] = 'JimDoe'

 console.log(users, users2)`,
        modifyArray: `let users = ['JohnDoe', 'JaneDoe']
 let users2 = [].concat(users)
 ... ou ...
 let users2 = [...users]`,
        modifyObject: `let users = { name: 'JohnDoe', age: 30 }
 let users2 = Object.assign({}, users)
 ... ou ...
 let users2 = {...users}`
      },
      objectValue: {
        direct: `user.name`,
        someArray: `user['name']`
      }
    }
  },
  methods: {
    typeOfTest () {
      let name = 'John Doe'
      console.log(name, typeof name)
    },
    typeTest (type) {
      let variableTest = null

      switch (type) {
        case 'string':
          variableTest = 'JohnDoe'
          break
        case 'number':
          variableTest = 30
          break
        case 'boolean':
          variableTest = true
          break
        case 'null':
          variableTest = null
          break
        case 'undefined':
          variableTest = undefined
          break
        case 'NaN':
          variableTest = NaN
          break
        case 'array':
          variableTest = ['JohnDoe', 'JaneDoe']
          break
        case 'object':
          variableTest = { name: 'JohnDoe', age: 30 }
          break
      }

      console.log(variableTest, typeof variableTest)
    },
    notReferencetest () {
      let firstName = 'John'
      let lastName = firstName
      lastName = 'Doe'

      console.log(firstName + ' ' + lastName)
    },
    referenceTest () {
      let users = ['JohnDoe', 'JaneDoe']
      let users2 = users
      users2[1] = 'JimDoe'

      console.log(users, users2)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../../../node_modules/vue-code-highlight/themes/prism-okaidia.css";
  @import "../../../../../node_modules/vue-code-highlight/themes/window.css";
  @import "style";

  #alert__paragraph {
    grid-column: 1/3;
    flex-direction: column;
    align-items: flex-start;
  }
</style>
