<template>
  <section>
    <v-expansion-panels>
      <v-expansion-panel>
        <v-expansion-panel-header>Requête de réception</v-expansion-panel-header>
        <v-expansion-panel-content>
          <section id="ajax__load">
            <pre v-highlight class="language-javascript">
              <code>{{ loadArticle }}</code>
            </pre>

            <section id="ajax__articles">
              <article class="ajax__article" v-for="(article, index) in articles" :key="index">
                <h1>{{ article.title }}</h1>
                <p class="author">Publié par {{ article.user.firstName }}</p>

                <p>{{ article.content }}</p>
              </article>

              <v-btn @click="onLoadArticles">Plus d'article</v-btn>
            </section>
          </section>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>Requête d'envoi</v-expansion-panel-header>
        <v-expansion-panel-content>
          <section id="ajax__send">
            <pre v-highlight class="language-javascript">
              <code>{{ sendArticle }}</code>
            </pre>

            <form novalidate>
              <v-text-field label="Titre de l'article" v-model="newArticle.title"/>
              <v-textarea label="Contenu de l'article" v-model="newArticle.content"/>
              <v-select label="Auteur"
                        v-model="newArticle.userId"
                        :items="users"
                        item-text="username"
                        item-value="id"
              />
              <v-btn color="primary" @click="onCreateArticle">Valider</v-btn>
            </form>
          </section>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </section>
</template>

<script>
export default {
  name: 'AJAX',
  data () {
    return {
      articles: [],
      loadArticle: `let request = new XMLHttpRequest()
 request.onreadystatechange = function () {
   if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
     console.log(JSON.parse(this.responseText))
   }
 }
 request.open('GET', 'http://localhost:8000/articles')
 request.send()`,
      sendArticle: `let request = new XMLHttpRequest()
 request.onreadystatechange = function () {
   if (this.readyState === XMLHttpRequest.DONE && this.status === 201) {
     console.log(JSON.parse(this.responseText))
   }
 }
 request.open('POST', 'http://localhost:8000/articles')
 request.setRequestHeader('Content-Type', 'application/json')
 request.send(JSON.stringify(this.newArticle))`,
      newArticle: {
        title: '',
        content: '',
        userId: null
      },
      users: []
    }
  },
  methods: {
    onLoadArticles () {
      let request = new XMLHttpRequest()
      let self = this
      request.onreadystatechange = function () {
        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
          let articles = JSON.parse(this.responseText)

          articles.items.forEach(article => {
            self.articles.push(article)
          })
        }
      }
      request.open('GET', 'http://localhost:8000/articles')
      request.send()
    },
    onCreateArticle () {
      let request = new XMLHttpRequest()
      request.onreadystatechange = function () {
        if (this.readyState === XMLHttpRequest.DONE && this.status === 201) {
          console.log(JSON.parse(this.responseText))
        }
      }
      request.open('POST', 'http://localhost:8000/articles')
      request.setRequestHeader('Content-Type', 'application/json')
      request.send(JSON.stringify(this.newArticle))
    }
  },
  created () {
    let request = new XMLHttpRequest()
    let self = this
    request.onreadystatechange = function () {
      if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
        let articles = JSON.parse(this.responseText)

        articles.items.forEach(article => {
          self.articles.push(article)
        })
      }
    }
    request.open('GET', 'http://localhost:8000/articles')
    request.send()

    let request2 = new XMLHttpRequest()
    request2.onreadystatechange = function () {
      if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
        let users = JSON.parse(this.responseText)

        users.items.forEach(article => {
          self.users.push(article)
        })
      }
    }
    request2.open('GET', 'http://localhost:8000/users')
    request2.send()
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../../node_modules/vue-code-highlight/themes/prism-okaidia.css";
  @import "../../../../node_modules/vue-code-highlight/themes/window.css";

  #ajax__load {
    display: flex;
    flex-direction: column;

    #ajax__articles {
      .ajax__article {
        padding: 20px;
        margin: 10px;
        border: 1px solid #cacaca;

        h1 {
          font-size: 2em;
        }

        .author {
          font-size: 10px;
        }
      }
    }

    #ajax__send {}
  }
</style>
