<template>
  <section>
    <v-expansion-panels>
      <v-expansion-panel>
        <v-expansion-panel-header>Accès au DOM</v-expansion-panel-header>
        <v-expansion-panel-content>
          <document/>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>Accès aux éléments du DOM</v-expansion-panel-header>
        <v-expansion-panel-content>
          <access/>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>Navigation entre les éléments</v-expansion-panel-header>
        <v-expansion-panel-content>
          <navigation/>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>Accès de l'intérieur</v-expansion-panel-header>
        <v-expansion-panel-content>
          <text-access/>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>Accès aux attributs</v-expansion-panel-header>
        <v-expansion-panel-content>
          <attributes/>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>CRUD</v-expansion-panel-header>
        <v-expansion-panel-content>
          <crud/>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>Modifier le style</v-expansion-panel-header>
        <v-expansion-panel-content>
          <style-access/>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </section>
</template>

<script>
export default {
  name: 'DOM',
  components: {
    Access: () => import('@/components/JS/Web/DOM/Access'),
    Attributes: () => import('@/components/JS/Web/DOM/Attributes'),
    crud: () => import('@/components/JS/Web/DOM/CRUD'),
    Document: () => import('@/components/JS/Web/DOM/Document'),
    Navigation: () => import('@/components/JS/Web/DOM/Navigation'),
    StyleAccess: () => import('@/components/JS/Web/DOM/Style'),
    TextAccess: () => import('@/components/JS/Web/DOM/Text')
  }
}
</script>
