<template>
  <section>
    <h2>Ajouter et supprimer un évènement</h2>

    <section>
      <pre v-highlight class="language-javascript">
        <code>{{ event.add }}</code>
      </pre>

      <v-btn id="bouton__test">Essai</v-btn>

      <pre v-highlight class="language-javascript">
        <code>{{ event.remove }}</code>
      </pre>

      <v-btn @click="removeEventTest">Essai</v-btn>
    </section>

    <h2>bubbling vs capturing</h2>

    <section>
      <div id="container__test">
        <div id="first__element__capture">
          <div id="second__element__capture">
            <p id="paragraph__capture">
              <v-btn id="button__capture">Cliquer ici</v-btn>
            </p>
          </div>
        </div>
      </div>

      <pre v-highlight class="language-javascript">
        <code>{{ capturingBubbling.bubbling }}</code>
      </pre>

      <v-btn @click="changeToCapturing">capturing</v-btn>

      <pre v-highlight class="language-javascript">
        <code>{{ capturingBubbling.capturing }}</code>
      </pre>

      <v-btn @click="changeToBubbling">bubbling</v-btn>
    </section>

    <h2>Changer le comportement</h2>

    <section>
      <div id="container__test__behavior">
        <div id="first__element__capture__behavior">
          <div id="second__element__capture__behavior">
            <p id="paragraph__capture__behavior">
              <v-btn id="button__capture__behavior">Cliquer ici</v-btn>
            </p>
          </div>
        </div>
      </div>

      <a href="/url/du/lien" id="link__prevent">URL de test</a>

      <pre v-highlight class="language-javascript">
        <code>{{ behavior.prevent }}</code>
      </pre>

      <pre v-highlight class="language-javascript">
        <code>{{ behavior.stop }}</code>
      </pre>
    </section>

    <p class="app__ressources">Ressources :</p>
    <ul class="app__ressources">
      <li>
        <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/RegExp" target="_blank">
          RegExp
        </a>
      </li>
      <li>
        <a href="https://regex101.com" target="_blank">Site de test : regex101</a>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  name: 'Event',
  data () {
    return {
      event: {
        add: `this.event.function = function () {
   console.log('J\\'ai cliqué sur le bouton !')
 }
 document.getElementById('bouton__test1')
   .addEventListener('click', this.event.function)`,
        remove: `removeEventTest () {
   document.getElementById('bouton__test')
     .removeEventListener('click', this.event.function)
 }`,
        function: null
      },
      capturingBubbling: {
        capturing: `document.querySelector('#first__element__capture')
 .addEventListener(
   'click',
   this.capturingBubbling.functionDiv1,
   true
 )`,
        bubbling: `document.querySelector('#first__element__capture')
 .addEventListener(
   'click',
   this.capturingBubbling.functionDiv1
 )`,
        functionDiv1: null,
        functionDiv2: null,
        functionP: null,
        functionButton: null
      },
      behavior: {
        prevent: `document.querySelector('#link__prevent')
 .addEventListener(
   'click',
   event => {
     event.preventDefault()
     console.log('On a cliqué dans sur le lien')
   })`,
        stop: `document.querySelector('#button__capture__behavior')
 .addEventListener(
   'click',
   event => {
     event.stopPropagation()
     console.log('On a cliqué dans sur le bouton')
   })`
      }
    }
  },
  methods: {
    removeEventTest () {
      document.getElementById('bouton__test')
        .removeEventListener('click', this.event.function)
    },
    changeToCapturing () {
      document.querySelector('#first__element__capture')
        .removeEventListener('click', this.capturingBubbling.functionDiv1)
      document.querySelector('#second__element__capture')
        .removeEventListener('click', this.capturingBubbling.functionDiv2)
      document.querySelector('#paragraph__capture')
        .removeEventListener('click', this.capturingBubbling.functionP)
      document.querySelector('#button__capture')
        .removeEventListener('click', this.capturingBubbling.functionButton)

      document.querySelector('#first__element__capture')
        .addEventListener('click', this.capturingBubbling.functionDiv1, true)
      document.querySelector('#second__element__capture')
        .addEventListener('click', this.capturingBubbling.functionDiv2, true)
      document.querySelector('#paragraph__capture')
        .addEventListener('click', this.capturingBubbling.functionP, true)
      document.querySelector('#button__capture')
        .addEventListener('click', this.capturingBubbling.functionButton, true)
    },
    changeToBubbling () {
      document.querySelector('#first__element__capture')
        .removeEventListener('click', this.capturingBubbling.functionDiv1)
      document.querySelector('#second__element__capture')
        .removeEventListener('click', this.capturingBubbling.functionDiv2)
      document.querySelector('#paragraph__capture')
        .removeEventListener('click', this.capturingBubbling.functionP)
      document.querySelector('#button__capture')
        .removeEventListener('click', this.capturingBubbling.functionButton)

      document.querySelector('#first__element__capture')
        .addEventListener('click', this.capturingBubbling.functionDiv1)
      document.querySelector('#second__element__capture')
        .addEventListener('click', this.capturingBubbling.functionDiv2)
      document.querySelector('#paragraph__capture')
        .addEventListener('click', this.capturingBubbling.functionP)
      document.querySelector('#button__capture')
        .addEventListener('click', this.capturingBubbling.functionButton)
    }
  },
  mounted () {
    this.event.function = function () {
      console.log('J\'ai cliqué sur le bouton !')
    }
    document.getElementById('bouton__test')
      .addEventListener('click', this.event.function)

    this.capturingBubbling.functionDiv1 = () => {
      console.log('On a cliqué dans la première div')
    }
    this.capturingBubbling.functionDiv2 = () => {
      console.log('On a cliqué dans la seconde div')
    }
    this.capturingBubbling.functionP = () => {
      console.log('On a cliqué dans le paragraphe')
    }
    this.capturingBubbling.functionButton = () => {
      console.log('On a cliqué dans sur le bouton')
    }

    document.querySelector('#first__element__capture').addEventListener('click', this.capturingBubbling.functionDiv1)
    document.querySelector('#second__element__capture').addEventListener('click', this.capturingBubbling.functionDiv2)
    document.querySelector('#paragraph__capture').addEventListener('click', this.capturingBubbling.functionP)
    document.querySelector('#button__capture').addEventListener('click', this.capturingBubbling.functionButton)

    document.querySelector('#first__element__capture__behavior').addEventListener('click', this.capturingBubbling.functionDiv1)
    document.querySelector('#second__element__capture__behavior').addEventListener('click', this.capturingBubbling.functionDiv2)
    document.querySelector('#paragraph__capture__behavior').addEventListener('click', this.capturingBubbling.functionP)
    document.querySelector('#button__capture__behavior')
      .addEventListener(
        'click',
        event => {
          event.stopPropagation()
          console.log('On a cliqué dans sur le bouton')
        })

    document.querySelector('#link__prevent')
      .addEventListener(
        'click',
        event => {
          event.preventDefault()
          console.log('On a cliqué dans sur le lien')
        })
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../../node_modules/vue-code-highlight/themes/prism-okaidia.css";
  @import "../../../../node_modules/vue-code-highlight/themes/window.css";
  @import "../../../assets/style/ressources";

  section {
    padding: 10px;

    h2 {
      margin-bottom: 15px;

      + section {
        display: grid;
        grid-template-columns: 5fr 4fr;
        grid-gap: 30px;

        #container__test, #container__test__behavior {
          grid-column: 2/3;
          grid-row: 1/5;

          #first__element__capture, #first__element__capture__behavior {
            padding: 15px;
            background-color: red;

            #second__element__capture, #second__element__capture__behavior {
              padding: 15px;
              background-color: green;

              #paragraph__capture, #paragraph__capture__behavior {
                padding: 15px;
                background-color: blue;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 0;
              }
            }
          }
        }

        #link__prevent {
          grid-column: 2/3;
          grid-row: 1/3;
        }

        #container__test__behavior {
          grid-column: 2/3;
          grid-row: 2/4;
        }
      }
    }
  }
</style>
