<template>
  <section id="regex__container">
    <h2>Motif de base</h2>

    <pre v-highlight class="language-javascript">
      <code>/regex/option</code>
    </pre>

    <h2>Options</h2>

    <ul>
      <li><code>g</code> -> recherche plusieurs fois le motif</li>
      <li><code>i</code> -> casse ignorée</li>
      <li><code>m</code> -> multi-ligne (le motif correspond à une seule ligne)</li>
      <li><code>s</code> -> le <code>.</code> peut être un saut de ligne</li>
    </ul>

    <h2>Méta-caractères</h2>

    <ul>
      <li><code>\</code> -> caractère d'échappement</li>
      <li><code>|</code> -> "...ou..."</li>
      <li><code>^</code> -> début de la ligne</li>
      <li><code>$</code> -> fin de la ligne</li>
      <li><code>.</code> -> n'importe quel caractère en dehors du saut de ligne (sauf option <code>s</code>)</li>
    </ul>

    <p class="p__example">Exemple</p>
    <pre v-highlight class="language-javascript">
      <code>/^gr.s$/</code>
    </pre>
    <p class="p__example__back">Trouvé dans : <code>gros</code>, <code>gras</code>, <code>gris</code>,
      <code>grès</code>...</p>
    <pre v-highlight class="language-javascript">
      <code>/raclette|fondue/</code>
    </pre>
    <p class="p__example__back">Trouvé dans : <code>J'aime la fondue savoyarde !</code> ou
      <code>J'aime la raclette savoyarde !</code>.</p>

    <h2>Ensembles</h2>

    <p>Utilisation de <code>[...]</code> pour un ensemble</p>
    <p>Ensemble complet</p>
    <ul>
      <li><code>[0-9]</code> -> tous les chiffres</li>
      <li><code>[a-z]</code> -> toutes les lettres non accentuées</li>
      <li><code>[A-Z]</code> -> toutes les majuscules non accentuées</li>
    </ul>

    <p class="p__example">Exemples</p>
    <pre v-highlight class="language-javascript">
      <code>/gr[oai]s\.$/</code>
    </pre>
    <p class="p__example__back">Trouvé dans : <code>Voilà le gros.</code>, <code>Ce plat est gras.</code></p>

    <h2>Quantificateur</h2>

    <ul>
      <li><code>?</code> -> 0 ou 1</li>
      <li><code>+</code> -> 1 ou plus</li>
      <li><code>*</code> -> 0 ou plus</li>
      <li><code>{de, à}</code></li>
    </ul>

    <p class="p__example">Exemples</p>
    <pre v-highlight class="language-javascript">
      <code>/bo?ut{1,2}on/</code>
    </pre>
    <p class="p__example__back">Fonctionner avec <code>bouton</code> et <code>button</code></p>

    <h2>Raccourcis</h2>

    <ul>
      <li><code>\d</code> -> tous les chiffres = <code>[0-9]</code></li>
      <li><code>\D</code> -> tout ce qui n'est pas un chiffre</li>
      <li><code>\s</code> -> caractère blanc (<code>\n</code>, <code>\t</code>, <code>\r</code>)</li>
      <li><code>\S</code> -> tout ce qui n'est pas un caractère blanc</li>
      <li>
        <code>\w</code> -> toutes les lettres, tous les chiffres, les lettres accentuées et <code>_</code> = <code>[a-zA-Z0-9_]</code>
      </li>
      <li><code>\W</code> -> tout ce qui n'est pas défini au-dessus</li>
      <li><code>\t</code> -> tabulation</li>
      <li><code>\n</code> -> saut de ligne</li>
      <li><code>\r</code> -> retour chariot</li>
    </ul>

    <h2>Capture</h2>

    <p>Les <code>(...)</code> permettent de capturer une partie du code pour le réutiliser.</p>

    <h2>Cas pratiques</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ regexMail }}</code>
    </pre>
    <v-text-field v-model="inputMailValue"
                  label="Adresse mail"
                  :error-messages="errorMessageMail"
    />

    <pre v-highlight class="language-javascript">
      <code>{{ regexMail }}</code>
    </pre>
    <v-text-field v-model="inputUrlValue"
                  label="URL"
                  :error-messages="errorMessageURL"
    />

    <p class="app__ressources">Ressources :</p>
    <ul class="app__ressources">
      <li>
        <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/RegExp" target="_blank">
          RegExp
        </a>
      </li>
      <li>
        <a href="https://regex101.com" target="_blank">Site de test : regex101</a>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  name: 'Regex',
  data () {
    return {
      inputMailValue: '',
      inputUrlValue: '',
      errorMail: 'Vous devez rentrer une adresse',
      errorURL: 'Vous devez rentrer une adresse',
      regexMail: `this.inputValue.length === 0
 ? this.error = 'Vous devez rentrer une adresse'
 : this.inputValue.match(/^[a-z0-9-_.]+@[a-z0-9-_.]+\\.[a-z]{2,}$/)
   ? this.error = ''
   : this.error = 'L\\'adresse mail n\\'a pas le bon format.'`,
      regexURL: `this.inputUrlValue.length === 0
 ? this.errorURL = 'Vous devez rentrer une URL'
 : this.inputUrlValue.match(/^(?:http|https|ftp):\\/\\/[a-z0-9.-_/]+\\//)
   ? this.errorURL = ''
   : this.errorURL = 'L\\'adresse mail n\\'a pas le bon format.'`
    }
  },
  computed: {
    errorMessageMail () {
      return this.errorMail
    },
    errorMessageURL () {
      return this.errorURL
    }
  },
  watch: {
    inputMailValue () {
      this.inputMailValue.length === 0
        ? this.errorMail = 'Vous devez rentrer une adresse mail'
        : this.inputMailValue.match(/^[a-z0-9-_.]+@[a-z0-9-_.]+\.[a-z]{2,}$/)
          ? this.errorMail = ''
          : this.errorMail = 'L\'adresse mail n\'a pas le bon format.'
    },
    inputUrlValue () {
      this.inputUrlValue.length === 0
        ? this.errorURL = 'Vous devez rentrer une URL'
        : this.inputUrlValue.match(/^(?:http|https|ftp):\/\/[a-z0-9.-_/]+\//)
          ? this.errorURL = ''
          : this.errorURL = 'L\'adresse mail n\'a pas le bon format.'
    }
  },
  mounted () {

  }
}
</script>

<style lang="scss" scoped>
  @import "../../../../node_modules/vue-code-highlight/themes/prism-okaidia.css";
  @import "../../../../node_modules/vue-code-highlight/themes/window.css";
  @import "../../../assets/style/ressources";

  #regex__container {
    h2 {
      margin-bottom: 20px;

      &:not(:first-child) {
        margin-top: 20px;
      }
    }

    pre {
      width: 100%;
    }

    p {
      font-size: 16px;
    }

    .p__example {
      margin-top: 15px;
      margin-bottom: 0;
    }

    .p__example__back {
      margin-top: 0;
      margin-bottom: 15px;
    }
  }
</style>
