<template>
  <div id="css__app__component">
    <h2>{{ direction }}</h2>
    <div id="css__color__text">
      <h2>color</h2>
      <v-color-picker v-model="border.color"/>
    </div>
    <v-select :items="borderStyleValues"
              v-model="border.style"
              label="border-style"/>
    <v-slider min="0"
              max="15"
              step="1"
              thumb-label="always"
              v-model="border.width"
              label="border-width"
    />
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'BorderComp',
  props: {
    type: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      border: {
        color: '#000000',
        image: {
          isImage: false,
          outset: 0,
          repeat: '',
          slice: 0,
          url: '/img/css/border.png',
          width: 0
        },
        radius: 0,
        style: 'solid',
        width: 0
      },
      borderImageRepeatValues: ['stretch', 'repeat', 'round', 'space'],
      borderStyleValues: ['hidden', 'dotted', 'dashed', 'solid', 'double', 'groove', 'ridge', 'inset', 'outset']
    }
  },
  computed: {
    direction () {
      return this.type === 'All' ? 'border' : ('border-' + this.type.toLowerCase())
    }
  },
  watch: {
    'border.color' () { this.setBorderClassique() },
    'border.style' () { this.setBorderClassique() },
    'border.width' () { this.setBorderClassique() }
  },
  methods: {
    ...mapActions('Css', [
      'setValue'
    ]),
    setBorderClassique () {
      if (this.type === 'All') {
        this.border.width === 0
          ? this.setValue({
            valueName: 'borderTop',
            val: 'none'
          })
          : this.setValue({
            valueName: 'borderTop',
            val: `${this.border.width}px ${this.border.style} ${this.border.color}`
          })
        this.border.width === 0
          ? this.setValue({
            valueName: 'borderBottom',
            val: 'none'
          })
          : this.setValue({
            valueName: 'borderBottom',
            val: `${this.border.width}px ${this.border.style} ${this.border.color}`
          })
        this.border.width === 0
          ? this.setValue({
            valueName: 'borderRight',
            val: 'none'
          })
          : this.setValue({
            valueName: 'borderRight',
            val: `${this.border.width}px ${this.border.style} ${this.border.color}`
          })
        this.border.width === 0
          ? this.setValue({
            valueName: 'borderLeft',
            val: 'none'
          })
          : this.setValue({
            valueName: 'borderLeft',
            val: `${this.border.width}px ${this.border.style} ${this.border.color}`
          })
      } else {
        this.border.width === 0
          ? this.setValue({
            valueName: 'border' + this.type,
            val: 'none'
          })
          : this.setValue({
            valueName: 'border' + this.type,
            val: `${this.border.width}px ${this.border.style} ${this.border.color}`
          })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../style";
</style>
