<template>
  <div>
    <v-expansion-panels>
      <v-expansion-panel>
        <v-expansion-panel-header>"id"/"class"</v-expansion-panel-header>
        <v-expansion-panel-content>
          <code-block :title="id.title" :code="id.code" :example="id.text"/>

          <h2>Exemples :</h2>
          <code-block :full-screen="true" :code="id.badExample1"/>
          <code-block :full-screen="true" :code="id.badExample2"/>
          <code-block :full-screen="true" :code="id.badExample3"/>
          <code-block :full-screen="true" :code="id.badExample4"/>

          <code-block
            :title="classAtt.title"
            :code="classAtt.code"
            :example="classAtt.text"
            style="margin-top: 50px;"
          />

          <h2>Exemples :</h2>
          <code-block :full-screen="true" :code="classAtt.badExample1"/>
          <code-block :full-screen="true" :code="classAtt.badExample2"/>
          <code-block :full-screen="true" :code="classAtt.badExample3"/>

          <p class="app__ressources">Ressources :</p>
          <ul class="app__ressources">
            <li>
              <a href="https://developer.mozilla.org/fr/docs/Web/HTML/Attributs_universels/id" target="_blank">id</a>
            </li>
            <li>
              <a href="https://developer.mozilla.org/fr/docs/Web/HTML/Attributs_universels/class" target="_blank">
                class
              </a>
            </li>
            <li>
              <a href="https://www.w3schools.com/html/html_id.asp" target="_blank">HTML The id Attribute</a>
            </li>
            <li>
              <a href="https://www.w3schools.com/html/html_classes.asp" target="_blank">HTML The class Attribute</a>
            </li>
          </ul>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>Attribut personnalisé : data-*</v-expansion-panel-header>
        <v-expansion-panel-content>
          <code-block :title="dataAtt.title" :code="dataAtt.code" :example="dataAtt.text"/>

          <p class="app__ressources">Ressources :</p>
          <ul class="app__ressources">
            <li>
              <a href="https://developer.mozilla.org/fr/docs/Web/HTML/Attributs_universels/data-*" target="_blank">
                data-*
              </a>
            </li>
            <li>
              <a href="https://www.w3schools.com/tags/att_global_data.asp" target="_blank">HTML data-* Attributes</a>
            </li>
          </ul>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>Attribut obligatoire/recommandé</v-expansion-panel-header>
        <v-expansion-panel-content>
          <code-block :title="imgAtt.title" :code="imgAtt.code" :example="imgAtt.text"/>

          <p class="app__ressources">Ressources :</p>
          <ul class="app__ressources">
            <li>
              <a href="https://developer.mozilla.org/fr/docs/Web/HTML/Element/Img#attr-src" target="_blank">
                <!-- eslint-disable-next-line -->
                &#139;img&#155; : l'élément d'image embarquée
              </a>
            </li>
          </ul>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>Accessibilité : aria-*</v-expansion-panel-header>
        <v-expansion-panel-content>
          <h2>Labelliser</h2>
          <code-block :full-screen="true" :code="ariaAtt.example1"/>

          <h2>Décrire</h2>
          <code-block :full-screen="true" :code="ariaAtt.example2"/>

          <h2>Champs obligatoires</h2>
          <code-block :full-screen="true" :code="ariaAtt.example3"/>

          <p class="app__ressources">Ressources :</p>
          <ul class="app__ressources">
            <li>
              <a href="https://developer.mozilla.org/fr/docs/Accessibilit%C3%A9/ARIA" target="_blank">ARIA</a>
            </li>
            <li>
              <a href="https://www.w3.org/TR/html-aria/" target="_blank">ARIA in HTML</a>
            </li>
          </ul>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
export default {
  name: 'Attributes',
  data () {
    return {
      id: {
        title: 'id',
        code: '<div id="window__dialog">...</div>',
        text:
        `<ul>
<li>Sélectionner un élément avec JS</li>
<li>Ne porte pas le sens de l'élément</li>
<li>Pas d'espace</li>
<li>Unique</li>
<li>Utilisé pour les ancres</li>
</ul>`,
        badExample1: '<div id="header">...</div>',
        badExample2: '<div id="red">...</div>',
        badExample3: '<div id="window dialog">...</div>',
        badExample4: '<div id="window_dialog"><p id="window_dialog"></p></div>'
      },
      classAtt: {
        title: 'class',
        code: '<div class="note__editorial">...</div>',
        text:
          `<ul>
<li>Une classe pour plusieurs éléments</li>
<li>Un élément avec plusieurs classes</li>
<li>Nom donne un sens général pas spécifique</li>
</ul>`,
        badExample1:
        `<h2 class="city">Paris</h2>
<p class="city">Paris est la capital de la France</p>`,
        badExample2: '<div class="city note">...</div>',
        badExample3: '<div class="red">...</div>'
      },
      dataAtt: {
        title: 'data',
        code: '<div data-animal-type="spider">Mygale</div>',
        text:
          `<ul>
<li>Ajoute des informations personnalisées</li>
<li>Utile pour le JS</li>
<li>Pas de majuscule, lettre et chiffres et tiret</li>
<li>Valeur valant une chaîne de caractère</li>
</ul>`,
        badExample1:
          `<h2 class="city">Paris</h2>
<p class="city">Paris est la capital de la France</p>`,
        badExample2: '<div class="city note">...</div>',
        badExample3: '<div class="red">...</div>'
      },
      imgAtt: {
        title: 'img',
        code: '<img src="lien" alt="description"/>',
        text:
        `<ul>
<li>src: obligatoire</li>
<li>alt: fortement recommandé</li>
</ul>`
      },
      ariaAtt: {
        example1:
        `<h3 id="rg1_label">Options du déjeuner</h3>

<ul class="radiogroup" id="rg1"  role="radiogroup" aria-labelledby="rg1_label">
\t<li id="r1"  tabindex="-1" role="radio" aria-checked="false">
\t\t<img role="presentation" src="radio-unchecked.gif" /> Thaï
\t</li>
\t<li id="r2"  tabindex="-1" role="radio"  aria-checked="false">
\t\t<img role="presentation" src="radio-unchecked.gif" /> Subway
\t</li>
\t<li id="r3"   tabindex="0" role="radio" aria-checked="true">
\t\t<img role="presentation" src="radio-checked.gif" /> Libanais
\t</li>
</ul>`,
        example2:
        `<button aria-describedby="descriptionRevert">
Annuler</button>
<div id="descriptionRevert">
L’annulation supprimera toutes les modifications intervenues depuis le dernier enregistrement.
</div>`,
        example3:
          `<form>
\t<div>
\t\t<label for="nom">* Nom :</label>
\t\t<input type="text" value="nom" id="nom" aria-required="true"/>
\t</div>
\t<div>
\t\t<label for="telephone">Téléphone :</label>
\t\t<input type="text" value="telephone" id="telephone" aria-required="false"/>
\t</div>
\t<div>
\t\t<label for="courriel">* Courriel :</label>
\t\t<input type="text" value="courriel" id="courriel" aria-required="true"/>
\t</div>
</form>`
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/ressources";

  h2:not(:first-child) {
    margin-top: 40px;
  }
</style>
