<template>
  <div>
    <code-block :title="title.title" :code="title.code" :example="title.text"/>
    <code-block :title="meta1.title" :code="meta1.code" :example="meta1.text"/>
    <code-block :title="meta2.title" :code="meta2.code" :example="meta2.text"/>
    <code-block :title="meta3.title" :code="meta3.code" :example="meta3.text"/>
    <code-block :title="meta4.title" :code="meta4.code" :example="meta4.text"/>
    <code-block :title="style.title" :code="style.code" :example="style.text"/>
    <code-block :title="link.title" :code="link.code" :example="link.text"/>
    <code-block :title="script2.title" :code="script2.code" :example="script2.text"/>
    <code-block :title="script1.title" :code="script1.code" :example="script1.text"/>
  </div>
</template>

<script>
export default {
  name: 'Head',
  data () {
    return {
      title: {
        title: '<title>',
        code: '<title>Titre de mon site</title>',
        text: 'Balise qui indique le titre du site, repris dans le corps de l\'onglet du navigateur.' +
          ' <span style="font-weight:bold;color:rgb(255, 0, 0);">Cette balise est obligatoire</span>'
      },
      style: {
        title: '<style>',
        code:
          `<style>
\th1 {
\t\tcolor: red;
\t}
</style>`,
        text: 'Ajouter du CSS dans la page HTML.'
      },
      link: {
        title: '<link>',
        code: `<link rel="stylesheet" type="text/css" href="theme.css"/>`,
        text: 'Ajouter un fichier CSS dans la page HTML.'
      },
      meta1: {
        title: '<meta>',
        code: `<meta name="viewport" content="width=device-width, initial-scale=1.0">`,
        text: 'Force l\'affichage sur smartphone.'
      },
      meta2: {
        title: '<meta>',
        code: `<meta charset="UTF-8">`,
        text: 'Encodage de la page.'
      },
      meta3: {
        title: '<meta>',
        code: `<meta name="author" content="John Doe">`,
        text: 'Auteur de la page.'
      },
      meta4: {
        title: '<meta>',
        code: `<meta name="description" content="Cours de L2">`,
        text: 'Description de la page.'
      },
      script1: {
        title: '<script>',
        code: `%3Cscript src="myscripts.js"%3E%3C%2Fscript%3E`,
        text: 'Ajoute un fichier JS dans la page HTML.'
      },
      script2: {
        title: '<script>',
        code:
          `%3Cscript type="text/javascript"%3E
\tlet demo = document.getElementById("demo");
demo.innerHTML = "Hello JavaScript!";
%3C%2Fscript%3E`,
        text: 'Écrire du JS dans la page HTML'
      }
    }
  }
}
</script>
