<template>
  <div>
    <v-expansion-panels>
      <v-expansion-panel>
        <v-expansion-panel-header>Structure d'une page HTML</v-expansion-panel-header>
        <v-expansion-panel-content>
          <code-block :full-screen="true" :code="code"/>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>Structure d'un site HTML</v-expansion-panel-header>
        <v-expansion-panel-content>
          <p>URL : /inscription/creation_compte</p>
          <div class="html__page__schema">
            <v-icon class="folder">folder_open</v-icon>src<br/>
            &ensp;<v-icon>subdirectory_arrow_right</v-icon><v-icon class="folder">folder_open</v-icon>inscription<br/>
            &ensp;&emsp;&emsp;<v-icon>subdirectory_arrow_right</v-icon><v-icon class="folder">folder_open</v-icon>creation_compte<br/>
            &ensp;&emsp;&emsp;&emsp;&emsp;<v-icon>subdirectory_arrow_right</v-icon><v-icon class="folder">description</v-icon>index.html<br/>
          </div>
          <p>URL : /objets/utilisateurs/page.html</p>
          <div class="html__page__schema">
            <v-icon class="folder">folder_open</v-icon>src<br/>
            &ensp;<v-icon>subdirectory_arrow_right</v-icon><v-icon class="folder">folder_open</v-icon>objets<br/>
            &ensp;&emsp;&emsp;<v-icon>subdirectory_arrow_right</v-icon><v-icon class="folder">folder_open</v-icon>utilisateurs<br/>
            &ensp;&emsp;&emsp;&emsp;&emsp;<v-icon>subdirectory_arrow_right</v-icon><v-icon class="folder">description</v-icon>page.html<br/>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
export default {
  name: 'Page',
  data () {
    return {
      code:
      `<!DOCTYPE html>
<html lang="fr">
<head>
\t<meta charset="UTF-8">
\t<title>Title</title>
</head>
<body>
<!-- Contenu de la page -->
</body>
</html>`
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/general";
  .v-expansion-panel-content {
    @media all and (max-width: $s) {
      .app__code__block {
        width: 100%;
      }
    }

    p {
      font-size: 20px;

      @media all and (max-width: $s) {
        font-size: 15px;
      }
    }

    .html__page__schema {
      font-size: 25px;

      i {
        font-size: 35px;

        &.folder {
          margin-right: 10px;
        }
      }

      @media all and (max-width: $s) {
        font-size: 15px;

        i {
          font-size: 20px;

          &.folder {
            margin-right: 5px;
          }
        }
      }
    }

    p:nth-child(3) {
      margin-top: 45px;
    }
  }
</style>
