<template>
  <div>
    <v-expansion-panels>
      <v-expansion-panel>
        <v-expansion-panel-header>Font-face</v-expansion-panel-header>
        <v-expansion-panel-content>
          <div id="css__font-face">
            <pre>
@font-face {
  font-family: 'quadranta';
  src: url('quadranta.eot');
  src: url('quadranta.otf') format('truetype'),
       url('quadranta.woff') format('woff'),
       url('quadranta.eot?#iefix') format('embedded-opentype'),
       url('quadranta.svg#QuadrantaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
            </pre>
            <ul>
              <li>Nom: 'quadranta' = font-family: 'quadranta'</li>
              <li>src1: principale...</li>
              <li>src2: ...sinon</li>
              <li>font-weight: graisse de la police chargée</li>
              <li>font-style: si police italique</li>
            </ul>

            <p class="app__ressources">Ressources :</p>
            <ul class="app__ressources">
              <li>
                <a href="https://fonts.google.com/" target="_blank">Google font</a>
              </li>
            </ul>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>Flottant</v-expansion-panel-header>
        <v-expansion-panel-content>
          <p id="css__float">
            <img src="/img/css/enluminure.jpeg" alt="A enluminé"/>ttention lorem Elsass ipsum schnaps sed hopla chambon
            DNA, wurscht météor baeckeoffe kuglopf ornare nüdle vielmols, dolor lacus tellus ac turpis Salu bissame et
            so flammekueche eleifend hopla rhoncus elementum aliquam Yo dû. risus, schneck amet adipiscing Wurschtsalad
            messti de Bischheim Chulien ornare eget mamsell hopla knepfle leo habitant picon bière barapli und
            suspendisse Chulia Roberstau rossbolla sit Pellentesque leverwurscht Carola yeuh. salu kougelhopf bissame
            lotto-owe Mauris Salut bisamme purus s'guelt semper quam. Strasbourg geht's wie ac Verdammi Spätzle Morbi
            quam, libero. dui Oberschaeffolsheim tristique elit libero, Gal ! amet geïz vulputate mollis merci vielmols
            id pellentesque non hopla condimentum rucksack Miss Dahlias sit bredele commodo Huguette ante sed hoplageiss
            tellus hop varius ftomi! libero, munster jetz gehts los Christkindelsmärik tchao bissame sit
            Richard Schirmeck Gal. ullamcorper Heineken blottkopf, ch'ai gal turpis, porta kartoffelsalad consectetur
            schpeck gewurztraminer amet, placerat Coopé de Truchtersheim senectus morbi Kabinetpapier Pfourtz ! nullam
            in, Hans Oberschaeffolsheim sagittis leo Racing. gravida auctor, mänele non réchime id, dignissim knack
          </p>

          <code-block-css :code="floatText" :full-screen="true"/>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>Dégradés</v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="css__gradient">
            <div id="css__linear__gradient"></div>
            <code-block-css :code="linearGradient" :full-screen="true"/>
          </div>

          <div class="css__gradient">
            <div id="css__linear__gradient__pc"></div>
            <code-block-css :code="linearGradientPC" :full-screen="true"/>
          </div>

          <div class="css__gradient">
            <div id="css__linear__gradient__transparent"></div>
            <code-block-css :code="linearGradientTransparent" :full-screen="true"/>
          </div>

          <div class="css__gradient">
            <div id="css__radial__gradient"></div>
            <code-block-css :code="radialGradient" :full-screen="true"/>
          </div>

          <div class="css__gradient">
            <div id="css__radial__gradient__ellipse"></div>
            <code-block-css :code="linearGradientTransparentEllipse" :full-screen="true"/>
          </div>

          <div class="css__gradient">
            <div id="css__radial__gradient__closet"></div>
            <code-block-css :code="linearGradientTransparentCloset" :full-screen="true"/>
          </div>

          <div class="css__gradient">
            <div id="css__repeat__gradient"></div>
            <code-block-css :code="linearRepeat" :full-screen="true"/>
          </div>

          <div class="css__gradient">
            <div id="css__repeat__radial__gradient"></div>
            <code-block-css :code="linearRepeatRadial" :full-screen="true"/>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
export default {
  name: 'Divers',
  data () {
    return {
      floatText: `img {
      float: left;
      }`,
      linearGradient: `div {
      background: linear-gradient(to right, white, red, black);
      }`,
      linearGradientPC: `div {
      background: linear-gradient(to right, white, red 30%, black);
      }`,
      linearGradientTransparent: `div {
      background: linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0));
      }`,
      radialGradient: `div {
      background: radial-gradient(circle at center, white, red);
      }`,
      linearGradientTransparentEllipse: `div {
      background: radial-gradient(ellipse at center, white, red);
      }`,
      linearGradientTransparentCloset: `div {
      background: radial-gradient(closest-side circle at center, white, red);
      }`,
      linearRepeat: `div {
      background: repeating-linear-gradient(to right, #ff0000, #00ff00, #0000ff, #ff0000 100px);
      }`,
      linearRepeatRadial: `div {
      background: repeating-radial-gradient(farthest-side circle at center, #ff0000, #00ff00, #ff0000, 100px);
      }`
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/ressources";

  .app__ressources {
    grid-column: 1/3;
  }

  #css__font-face {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  #css__float {
    img {
      width: 150px;
      float: left;
    }
  }

  .css__gradient {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 20px;
  }

  #css__linear__gradient {
    width: 300px;
    height: 200px;
    background: linear-gradient(to right, white, red, black);
    border: 1px solid black;
  }

  #css__linear__gradient__pc {
    width: 300px;
    height: 200px;
    background: linear-gradient(to right, white, red 30%, black);
    border: 1px solid black;
  }

  #css__linear__gradient__transparent {
    width: 300px;
    height: 200px;
    background: linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0));
    border: 1px solid black;
  }

  #css__radial__gradient {
    width: 300px;
    height: 200px;
    background: radial-gradient(circle at center, white, red);
    border: 1px solid black;
  }

  #css__radial__gradient__ellipse {
    width: 300px;
    height: 200px;
    background: radial-gradient(ellipse at center, white, red);
    border: 1px solid black;
  }

  #css__radial__gradient__closet {
    width: 300px;
    height: 200px;
    background: radial-gradient(closest-side circle at center, white, red);
    border: 1px solid black;
  }

  #css__repeat__gradient {
    width: 300px;
    height: 200px;
    background: repeating-linear-gradient(to right, #ff0000, #00ff00, #0000ff, #ff0000 100px);
    border: 1px solid black;
  }

  #css__repeat__radial__gradient {
    width: 300px;
    height: 200px;
    background: repeating-radial-gradient(farthest-side circle at center, #ff0000, #00ff00, #ff0000 50px);
    border: 1px solid black;
  }
</style>
