<template>
  <div id="css__general__general">
    <h2>Fichier vs balise style vs attribut style</h2>

    <h3>Fichier</h3>
    <code-block :code="externalFile" title="Fichier externe"/>
    <code-block :code="internalFile" title="Fichier interne"/>
    <code-block-css :code="file" title="Fichier"/>

    <h3>Balise style</h3>
    <code-block-css :code="file" title="Fichier HTML" :style-tag="true"/>

    <h3>Attribut style</h3>
    <code-block :code="attribut" :example="attribut" title="Attribut style"/>

    <div id="two__examples__css">
      <h2>Effet cascade et précision</h2>
      CSS = <span class="italic">Cascading Style Sheets</span>
      <br/>
      <br/>

      <h3>Cascade</h3>
      <code-block-css :code="cascade1" :full-screen="true"/>
      <code-block-css :code="cascade2" :full-screen="true"/>

      <h3>Précision</h3>
      <code-block-css :code="precision1" :full-screen="true"/>
      <code-block-css :code="precision2" :full-screen="true"/>

      <h3>class</h3>
      <code-block-css :code="class1" :full-screen="true"/>
      <code-block-css :code="class2" :full-screen="true"/>

      <h3>id</h3>
      <code-block-css :code="id1" :full-screen="true"/>
      <code-block-css :code="id2" :full-screen="true"/>

      <h3>Balise style</h3>
      <code-block-css :code="file" :style-tag="true" :full-screen="true"/>
      <code-block-css :code="id1" :full-screen="true"/>

      <h3>Attribut style</h3>
      <code-block :code="attribut" :full-screen="true"/>
      <code-block-css :code="file" :style-tag="true" :full-screen="true"/>

      <h3>Une valeur pour les gouverner tous !</h3>
      <code-block-css :code="important" :style-tag="true" :full-screen="true"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'General',
  data () {
    return {
      externalFile: '<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/>',
      internalFile: '<link href="/css/style.css" rel="stylesheet"/>',
      file:
        `p {
        color: blue;
        font-size: 16px;
        }`,
      attribut: '<p style="color: red; font-size: 16px;">Text</p>',
      cascade1:
        `p {
      color: red;
      }`,
      cascade2:
        `p {
      color: blue;
      }`,
      precision1:
        `div p {
      color: red;
      }`,
      precision2:
        `p {
      color: blue;
      }`,
      class1:
        `.main_article {
      color: red;
      }`,
      class2:
        `p {
      color: blue;
      }`,
      id1:
        `#main_article {
      color: red;
      }`,
      id2:
        `.main_article {
      color: blue;
      }`,
      important:
        `p {
      color: red !important;
      }`
    }
  }
}
</script>

<style lang="scss" scoped>
  h2 {
    margin: 20px 0;
    font-size: 1.8em;
  }

  .italic {
    font-style: italic;
  }

  #two__examples__css::v-deep {
    .app__code__block + .app__code__block {
      margin-top: 0;
      position: relative;
      top: -10px;
      border-top: none;

      .app__console__code {
        border-top: none;
      }
    }
  }
</style>
