<template>
  <div>
    <h2>Tout</h2>
    <code-block-css :code="all.code" :title="all.title" :html-example="all.example"/>

    <h2>Classe</h2>
    <code-block-css :code="class1.code" :title="class1.title" :html-example="class1.example"/>
    <hr/>
    <code-block-css :code="class2.code" :title="class2.title" :html-example="class2.example"/>
    <hr/>
    <code-block-css :code="class3.code" :title="class3.title" :html-example="class3.example"/>

    <h2>Identifiant</h2>
    <code-block-css :code="id.code" :title="id.title" :html-example="id.example"/>

    <h2>Éléments</h2>
    <code-block-css :code="element1.code" :title="element1.title" :html-example="element1.example"/>
    <hr/>
    <code-block-css :code="element2.code" :title="element2.title" :html-example="element2.example"/>
    <hr/>
    <code-block-css :code="element3.code" :title="element3.title" :html-example="element3.example"/>
    <hr/>
    <code-block-css :code="element4.code" :title="element4.title" :html-example="element4.example"/>
    <hr/>
    <code-block-css :code="element5.code" :title="element5.title" :html-example="element5.example"/>
    <hr/>
    <code-block-css :code="element6.code" :title="element6.title" :html-example="element6.example"/>

    <h2>Attributs</h2>
    <code-block-css :code="attribut1.code" :title="attribut1.title" :html-example="attribut1.example"/>
    <hr/>
    <code-block-css :code="attribut2.code" :title="attribut2.title" :html-example="attribut2.example"/>
    <hr/>
    <code-block-css :code="attribut3.code" :title="attribut3.title" :html-example="attribut3.example"/>
    <hr/>
    <code-block-css :code="attribut4.code" :title="attribut4.title" :html-example="attribut4.example"/>
    <hr/>
    <code-block-css :code="attribut5.code" :title="attribut5.title" :html-example="attribut5.example"/>
    <hr/>
    <code-block-css :code="attribut6.code" :title="attribut6.title" :html-example="attribut6.example"/>
    <hr/>
    <code-block-css :code="attribut7.code" :title="attribut7.title" :html-example="attribut7.example"/>

    <h2>Ordre par rapport au parent</h2>
    <code-block-css :code="order1.code" :title="order1.title" :html-example="order1.example"/>
    <hr/>
    <code-block-css :code="order2.code" :title="order2.title" :html-example="order2.example"/>
    <hr/>
    <code-block-css :code="order3.code" :title="order3.title" :html-example="order3.example"/>
    <hr/>
    <code-block-css :code="order4.code" :title="order4.title" :html-example="order4.example"/>
    <hr/>
    <code-block-css :code="order5.code" :title="order5.title" :html-example="order5.example"/>
    <hr/>
    <code-block-css :code="order6.code" :title="order6.title" :html-example="order6.example"/>
    <hr/>
    <code-block-css :code="order7.code" :title="order7.title" :html-example="order7.example"/>
    <hr/>
    <code-block-css :code="order8.code" :title="order8.title" :html-example="order8.example"/>

    <h2>Seul au monde</h2>
    <code-block-css :code="childType1.code" :title="childType1.title" :html-example="childType1.example"/>
    <hr/>
    <code-block-css :code="childType2.code" :title="childType2.title" :html-example="childType2.example"/>

    <h2>Selon état HTML</h2>
    <code-block-css :code="html1.code" :title="html1.title" :html-example="html1.example"/>
    <hr/>
    <code-block-css :code="html2.code" :title="html2.title" :html-example="html2.example"/>
    <hr/>
    <code-block-css :code="html3.code" :title="html3.title" :html-example="html3.example"/>
    <hr/>
    <code-block-css :code="html4.code" :title="html4.title" :html-example="html4.example"/>
    <hr/>
    <code-block-css :code="html5.code" :title="html5.title" :html-example="html5.example"/>
    <hr/>
    <code-block-css :code="html6.code" :title="html6.title" :html-example="html6.example"/>
    <hr/>
    <code-block-css :code="html7.code" :title="html7.title" :html-example="html7.example"/>
    <hr/>
    <code-block-css :code="html8.code" :title="html8.title" :html-example="html8.example"/>
    <hr/>
    <code-block-css :code="html9.code" :title="html9.title" :html-example="html9.example"/>
    <hr/>
    <code-block-css :code="html10.code" :title="html10.title" :html-example="html10.example"/>
    <hr/>
    <code-block-css :code="html11.code" :title="html11.title" :html-example="html11.example"/>
    <hr/>
    <code-block-css :code="html12.code" :title="html12.title" :html-example="html12.example"/>

    <h2>Pseudo-élément</h2>
    <code-block-css :code="pseudo1.code" :title="pseudo1.title" :html-example="pseudo1.example"/>
    <hr/>
    <code-block-css :code="pseudo2.code" :title="pseudo2.title" :html-example="pseudo2.example"/>

    <h2>NOT</h2>
    <code-block-css :code="not.code" :title="not.title" :html-example="not.example"/>

    <p class="app__ressources">Ressources :</p>
    <ul class="app__ressources">
      <li>
        <a href="https://www.w3schools.com/cssref/css_selectors.asp" target="_blank">CSS Selector Reference</a>
      </li>
      <li>
        <a href="https://developer.mozilla.org/fr/docs/Web/CSS/S%C3%A9lecteurs_CSS" target="_blank">Sélecteurs CSS</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Selector',
  data () {
    return {
      all: {
        code: '* {',
        title: '*',
        example: ''
      },
      class1: {
        code: '.main_p {',
        title: 'Classe',
        example: '<p class="main_p"></p>'
      },
      class2: {
        code: '.main_p.quote_p {',
        title: 'Double classe',
        example: '<p class="main_p quote_p"></p>'
      },
      class3: {
        code: '.main_p .quote_p {',
        title: 'Classe imbriquée',
        example: `<p class="main_p">
  <p class="quote_p"></p>
</p>`
      },
      id: {
        code: '#main_p {',
        title: 'Identifiant "main_p"',
        example: '<p id="main_p"></p>'
      },
      element1: {
        code: 'p {',
        title: 'P',
        example: `<p id="container"></p>
<p class="main_p"></p>`
      },
      element2: {
        code: 'p, div {',
        title: 'Div et P',
        example: `<p></p>
<div></div>`
      },
      element3: {
        code: 'p div {',
        title: 'Div enfant de P',
        example: `<p>
  <div>OUI
    <div>OUI</div>
  </div>
</p>`
      },
      element4: {
        code: 'p > div {',
        title: 'Div directement enfant de P',
        example: `<p>
  <div>OUI
    <div>NON</div>
  </div>
</p>`
      },
      element5: {
        code: 'p + div {',
        title: 'Div suit directement P',
        example: `<p></p>
<div>OUI</div>
<div>NON</div>`
      },
      element6: {
        code: 'p ~ div {',
        title: 'Div précédés de P',
        example: `<div>NON</div>
<p></p>
<div>OUI</div>
<div>OUI</div>`
      },
      attribut1: {
        code: 'p[title] {',
        title: 'Attribut présent',
        example: `<a href="#">NON</a>
<a href="#" title="coucou">OUI</a>`
      },
      attribut2: {
        code: 'p[title="coucou"] {',
        title: 'Attribut présent avec valeur',
        example: `<p>NON</p>
<p title="hello">NON</p>
<p title="coucou">OUI</p>`
      },
      attribut3: {
        code: 'p[title~="flower"] {',
        title: 'Attribut présent avec valeur contenant le mot',
        example: `<p>NON</p>
<p title="green flower">OUI</p>
<p title="green leaf">NON</p>`
      },
      attribut4: {
        code: 'p[title|="fr"] {',
        title: 'Attribut présent avec valeur commençant par le mot',
        example: `<p>NON</p>
<p title="fr_FR">NON</p>
<p title="fr-BE">OUI</p>
<p title="en-US">NON</p>`
      },
      attribut5: {
        code: 'p[title^="fr"] {',
        title: 'Attribut présent avec valeur commençant par',
        example: `<p>NON</p>
<p title="fr-FR">OUI</p>
<p title="fr_BE">OUI</p>
<p title="en-US">NON</p>`
      },
      attribut6: {
        code: 'p[title$=".pdf"] {',
        title: 'Attribut présent avec valeur finissant par',
        example: `<p title="image.jpg">NON</p>
<p title="fichier.pdf">OUI</p>`
      },
      attribut7: {
        code: 'p[class*="test"] {',
        title: 'Attribut présent avec valeur contenant',
        example: `<p class="m_test_p">OUI</p>
<p class="test pg">OUI</p>`
      },
      order1: {
        code: 'p:first-child {',
        title: 'Premier enfant de son parent',
        example: `<p>
  <p>OUI</p>
  <p>NON</p>
  <p>NON</p>
</p>`
      },
      order2: {
        code: 'p:last-child {',
        title: 'Dernier enfant de son parent',
        example: `<p>
  <p>NON</p>
  <p>NON</p>
  <p>OUI</p>
</p>`
      },
      order3: {
        code: 'p:nth-child(2) {',
        title: 'Nième enfant de son parent',
        example: `<p>
  <p>NON</p>
  <p>OUI</p>
  <p>NON</p>
</p>`
      },
      order4: {
        code: 'p:nth-last-child(2) {',
        title: 'Nième enfant de son parent depuis la fin',
        example: `<p>
  <p>NON</p>
  <p>OUI</p>
  <p>NON</p>
</p>`
      },
      order5: {
        code: 'p:first-of-type {',
        title: 'Premier enfant de ce type',
        example: `<p>
  <div>NON</div>
  <p>OUI</p>
  <p>NON</p>
</p>`
      },
      order6: {
        code: 'p:last-of-type {',
        title: 'Dernier enfant de ce type',
        example: `<p>
  <p>NON</p>
  <p>OUI</p>
  <div>NON</div>
</p>`
      },
      order7: {
        code: 'p:nth-of-type(2) {',
        title: 'Nième enfant de ce type',
        example: `<p>
  <div>NON</div>
  <p>NON</p>
  <p>OUI</p>
  <p>NON</p>
  <div>NON</div>
</p>`
      },
      order8: {
        code: 'p:nth-last-of-type(2) {',
        title: 'Nième enfant de ce type depuis la fin',
        example: `<p>
  <div>NON</div>
  <p>NON</p>
  <p>OUI</p>
  <p>NON</p>
  <div>NON</div>
</p>`
      },
      childType1: {
        code: 'p:only-of-type {',
        title: 'Seul enfant de ce type',
        example: `<p>
  <div>NON</div>
  <p>OUI</p>
  <div>NON</div>
</p>`
      },
      childType2: {
        code: 'p:only-child {',
        title: 'Seul enfant',
        example: `<p>
  <p>OUI</p>
</p>`
      },
      html1: {
        code: 'p:active {',
        title: 'Lien actif',
        example: ``
      },
      html2: {
        code: 'p:checked {',
        title: 'Checkbox ou radio sélectionnée',
        example: ``
      },
      html3: {
        code: 'p:disabled {',
        title: 'Élément de formulaire désactivé',
        example: ``
      },
      html4: {
        code: 'p:enabled {',
        title: 'Élément de formulaire non désactivé',
        example: ``
      },
      html5: {
        code: 'p:focus {',
        title: 'Élément qui a le focus',
        example: ``
      },
      html6: {
        code: 'p:hover {',
        title: 'Élément survolé par la souris',
        example: ``
      },
      html7: {
        code: 'p:link {',
        title: 'Tous les liens non visités',
        example: ``
      },
      html8: {
        code: 'p:visited {',
        title: 'Tous les liens visités',
        example: ``
      },
      html9: {
        code: 'p:optional {',
        title: 'Élément de formulaire non requis',
        example: ``
      },
      html10: {
        code: 'p:required {',
        title: 'Élément de formulaire requis',
        example: ``
      },
      html11: {
        code: 'p:read-only {',
        title: 'Élément de formulaire en lecture seul',
        example: ``
      },
      html12: {
        code: 'p:read-write {',
        title: 'Élément de formulaire ouvert à l\'écriture',
        example: ``
      },
      pseudo1: {
        code: 'p::after {',
        title: 'Pseudo-élément précédent',
        example: ``
      },
      pseudo2: {
        code: 'p::before {',
        title: 'Pseudo élément suivant',
        example: ``
      },
      not: {
        code: 'p:not(:first-child) {',
        title: 'Inverse le sélecteur',
        example: `<p>
  <p>NON</p>
  <p>OUI</p>
  <p>OUI</p>
</p>`
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/general";
  @import "../../../assets/style/ressources";

  h2 {
    margin: 30px 0;
    text-align: center;
  }

  @media all and (max-width: $s) {
    hr {
      display: none;
    }
  }
</style>
