<template>
<section>
  <nav-bar/>

  <router-view/>
</section>
</template>

<script>
export default {
  name: 'Home',
  components: { navBar: () => import('@/components/ModelClientServer/ApplicationsExamples/Nav') }
}
</script>
