<template>
  <div class="img__cat">
    <img :src="image.url" :alt="image.alt" v-if="statusCode !== null">
  </div>
</template>

<script>
export default {
  name: 'httpCat',
  props: {
    image: {
      required: true,
      type: Object
    },
    statusCode: {
      required: false,
      type: Number
    }
  }
}
</script>

<style lang="scss" scoped>
  .img__cat {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      object-fit: contain;
      width: 100%;
      max-height: 100%;
    }
  }
</style>
