<template>
  <section>
    <h1>ECMAScript</h1>

    <h2>Qu'est ce que c'est ?</h2>

    <p>Norme, entre autre, pour le JS.</p>

    <h2>Comment ça fonctionne ?</h2>

    <table>
      <thead>
      <tr>
        <th scope="col">Étape</th>
        <th scope="col">Validation</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">stage-0</th>
        <td>Proposition d'une idée</td>
      </tr>
      <tr>
        <th scope="row">stage-1</th>
        <td>Idée présentée au comité de de l'ECMA. Ils donnent leurs commentaires.</td>
      </tr>
      <tr>
        <th scope="row">stage-2</th>
        <td>Le comité décide si la feature doit être dans le langage.</td>
      </tr>
      <tr>
        <th scope="row">stage-3</th>
        <td>Essai d'implémentation des navigateurs et des polyfill<sup>1</sup> avec la dernière version proposée.</td>
      </tr>
      <tr>
        <th scope="row">stage-4</th>
        <td>La poroposition est dans la dernière version de l'ECMA.</td>
      </tr>
      </tbody>
    </table>

    <p class="app__ressources">Ressources :</p>
    <ul class="app__ressources">
      <li>
        <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript/Language_Resources" target="_blank">ECMAScript</a>
      </li>
      <li>
        <a href="https://fr.wikipedia.org/wiki/ECMAScript" target="_blank">ECMAScript</a>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/ECMAScript" target="_blank">ECMAScript (en)</a>
      </li>
      <li>
        <a href="https://www.w3schools.com/js/js_versions.asp" target="_blank">JavaScript Versions</a>
      </li>
      <li>
        <a href="https://www.ecma-international.org/publications/standards/Ecma-262.htm" target="_blank">
          Site officiel (en)
        </a>
      </li>
      <li>
        <a href="https://fr.wikipedia.org/wiki/Polyfill" target="_blank"><sup>1</sup>Polyfill</a>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  name: 'ECMA'
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/ressources";

  section {
    padding: 10px;

    h1 {
      font-size: 2em;
      margin-bottom: 20px;
    }

    h2 {
      margin-bottom: 15px;
    }

    table {
      grid-column: 1/3;
      border-collapse: collapse;
      border: 2px solid black;

      thead {
        background-color: rgba(240, 240, 240, 0.5);

        tr {
          th:not(:last-child) {
            border-right: 1px dashed black;
          }
        }
      }

      tr {
        border: 1px solid black;

        th {
          text-align: center;
          padding: 5px;

          &:not(:last-child) {
            border-right: 1px dashed black;
          }
        }

        td, th {
          padding: 5px 20px;
        }
      }
    }
  }
</style>
