<template>
  <div>
    <v-expansion-panels>
      <v-expansion-panel>
        <v-expansion-panel-header>Variable</v-expansion-panel-header>
        <v-expansion-panel-content>
          <variable/>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>Types</v-expansion-panel-header>
        <v-expansion-panel-content>
          <type/>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>Maths</v-expansion-panel-header>
        <v-expansion-panel-content>
          <maths/>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>Conditions</v-expansion-panel-header>
        <v-expansion-panel-content>
          <condition/>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>Boucles</v-expansion-panel-header>
        <v-expansion-panel-content>
          <loop/>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>Fonctions</v-expansion-panel-header>
        <v-expansion-panel-content>
          <function/>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
export default {
  name: 'Divers',
  components: {
    Condition: () => import('@/components/JS/Langage/Language/Condition'),
    Function: () => import('@/components/JS/Langage/Language/Function'),
    Loop: () => import('@/components/JS/Langage/Language/Loop'),
    Maths: () => import('@/components/JS/Langage/Language/Maths'),
    Type: () => import('@/components/JS/Langage/Language/Type'),
    Variable: () => import('@/components/JS/Langage/Language/Variable')
  }
}
</script>
