<template>
  <div>
    <h1>Javascript est synchrone et mono-thread</h1>

    <v-expansion-panels>
      <v-expansion-panel>
        <v-expansion-panel-header>Event loop</v-expansion-panel-header>
        <v-expansion-panel-content>
          <p>Boucle d'évènement de Javascript :</p>

          <img src="/img/javascript/event-loop.jpg" alt="Schéma montrant la boucle d'évènement de javascript"/>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>Interval et Callback</v-expansion-panel-header>
        <v-expansion-panel-content>
          <interval/>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>Promise</v-expansion-panel-header>
        <v-expansion-panel-content>
          <promise/>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
export default {
  name: 'Sync',
  components: {
    Interval: () => import('@/components/JS/Langage/Sync/Interval'),
    Promise: () => import('@/components/JS/Langage/Sync/Promise')
  }
}
</script>

<style lang="scss" scoped>
  section {
    width: 100%;

    h1 {
      font-size: 2em;
      margin-bottom: 20px;
    }

    .v-expansion-panel-content::v-deep {
      .v-expansion-panel-content__wrap {
        display: flex;
        flex-direction: column;

        img {
          max-width: 100%;
          width: 1000px;
          margin: auto;
        }
      }
    }
  }
</style>
