<template>
  <div id="nav" @click="onClick">
    <v-list
      nav
      dense
      color="rgba(0, 0, 0, 0)"
      max-width="99%"
    >
      <!-- Attendus -->
      <router-link :to="{ name: 'expected' }">
        <v-list-item @click="onClick">
          <v-list-item-action-text>
            <v-btn text>
              Attendus
            </v-btn>
          </v-list-item-action-text>
        </v-list-item>
      </router-link>

      <!-- Client - Server -->
      <v-list-item @click.stop="onOpen('server')">
        <v-list-item-action-text class="first__menu">
          <v-btn text>
            Le modèle Client - Serveur
          </v-btn>
        </v-list-item-action-text>
      </v-list-item>

      <div id="nav__server">
        <router-link :to="{ name: 'modelClientServer-clientServer' }">
          <v-list-item @click="onClick">
            <v-list-item-action-text class="sub__menu">
              <v-btn class="sub__menu" text>
                Client et Serveur
              </v-btn>
            </v-list-item-action-text>
          </v-list-item>
        </router-link>

        <router-link :to="{ name: 'modelClientServer-clientServer-applicationExamples' }">
          <v-list-item @click="onClick">
            <v-list-item-action-text class="sub__menu">
              <v-btn class="sub__menu" text>
                Exemples d'application
              </v-btn>
            </v-list-item-action-text>
          </v-list-item>
        </router-link>

        <router-link :to="{ name: 'modelClientServer-clientServer-requestResponse' }">
          <v-list-item @click="onClick">
            <v-list-item-action-text class="sub__menu">
              <v-btn class="sub__menu" text>
                Requête et Réponse
              </v-btn>
            </v-list-item-action-text>
          </v-list-item>
        </router-link>
      </div>

      <!-- HTML -->
      <v-list-item @click.stop="onOpen('html')">
        <v-list-item-action-text class="first__menu">
          <v-btn text>
            Les balises et le montage HTML
          </v-btn>
        </v-list-item-action-text>
      </v-list-item>

      <nav id="nav__html">
        <router-link :to="{ name: 'html-general' }">
          <v-list-item @click="onClick">
            <v-list-item-action-text class="sub__menu">
              <v-btn class="sub__menu" text>
                Généralités
              </v-btn>
            </v-list-item-action-text>
          </v-list-item>
        </router-link>

        <router-link :to="{ name: 'html-tags' }">
          <v-list-item @click="onClick">
            <v-list-item-action-text class="sub__menu">
              <v-btn class="sub__menu" text>
                Balises
              </v-btn>
            </v-list-item-action-text>
          </v-list-item>
        </router-link>

        <router-link :to="{ name: 'html-structure' }">
          <v-list-item @click="onClick">
            <v-list-item-action-text class="sub__menu">
              <v-btn class="sub__menu" text>
                Structure
              </v-btn>
            </v-list-item-action-text>
          </v-list-item>
        </router-link>
      </nav>

      <!-- CSS -->
      <v-list-item @click.stop="onOpen('css')">
        <v-list-item-action-text class="first__menu">
          <v-btn text>
            Les principes du CSS
          </v-btn>
        </v-list-item-action-text>
      </v-list-item>

      <div id="nav__css">
        <router-link :to="{ name: 'css-general' }">
          <v-list-item @click="onClick">
            <v-list-item-action-text class="sub__menu">
              <v-btn class="sub__menu" text>
                Généralités
              </v-btn>
            </v-list-item-action-text>
          </v-list-item>
        </router-link>

        <router-link :to="{ name: 'css-technology' }">
          <v-list-item @click="onClick">
            <v-list-item-action-text class="sub__menu">
              <v-btn class="sub__menu" text>
                Technologies CSS
              </v-btn>
            </v-list-item-action-text>
          </v-list-item>
        </router-link>
      </div>

      <!-- JS -->
      <v-list-item @click.stop="onOpen('js')">
        <v-list-item-action-text class="first__menu">
          <v-btn text>
            Les principes du Javascript
          </v-btn>
        </v-list-item-action-text>
      </v-list-item>

      <div id="nav__js">
        <router-link :to="{ name: 'js-javascript' }">
          <v-list-item @click="onClick">
            <v-list-item-action-text class="sub__menu">
              <v-btn class="sub__menu" text>
                Le Javascript
              </v-btn>
            </v-list-item-action-text>
          </v-list-item>
        </router-link>

        <router-link :to="{ name: 'js-web' }">
          <v-list-item @click="onClick">
            <v-list-item-action-text class="sub__menu">
              <v-btn class="sub__menu" text>
                Javascript et le web
              </v-btn>
            </v-list-item-action-text>
          </v-list-item>
        </router-link>

        <router-link :to="{ name: 'js-technology' }">
          <v-list-item @click="onClick">
            <v-list-item-action-text class="sub__menu">
              <v-btn class="sub__menu" text>
                Technologies Javascript
              </v-btn>
            </v-list-item-action-text>
          </v-list-item>
        </router-link>
      </div>
    </v-list>
  </div>
</template>

<script>
export default {
  name: 'navBar',
  methods: {
    onClick () {
      this.$emit('click')
    },
    onOpen (category) {
      ['nav__server', 'nav__html', 'nav__css', 'nav__js'].forEach(cat => {
        if (cat !== `nav__${category}`) document.getElementById(cat).style.maxHeight = null
      })

      let element = document.getElementById(`nav__${category}`)
      element.style.maxHeight
        ? element.style.maxHeight = null
        : element.style.maxHeight = `${element.scrollHeight}px`
    }
  }
}
</script>

<style lang="scss" scoped>
  #nav {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    .v-list {
      overflow-y: visible;
      height: 100%;

      a {
        text-decoration: none;
      }

      #nav__server, #nav__html, #nav__css, #nav__js {
        max-height: 0;
        transition: max-height 0.2s ease-out;
        overflow: hidden;
      }
    }

    .v-list-item {
      display: flex;
      justify-content: flex-end;

      .v-list-item__action-text {
        &.first__menu {
          border-top: 1px solid white;
        }

        &.sub__menu {
          padding-right: 20px;
        }

        button {
          color: white;
          font-weight: bold;
          font-size: 16px;

          &.sub__menu {
            font-size: 13px;
          }
        }
      }
    }
  }
</style>
