<template>
  <div>
    <code-block title="<audio>" :code="audio" :example="audio"/>
    <code-block title="<video>" :code="video" :example="video"/>
  </div>
</template>

<script>
export default {
  name: 'Audio',
  data () {
    return {
      audio:
        `<audio controls="controls" src="/assets/media/2mina.mp3">Texte alternatif si le navigateur ne marche pas.</audio>`,
      video:
      `<video controls="controls" width="100%">
\t<source type="video/mp4" src="/assets/media/2minv.mp4">
</video>`
    }
  }
}
</script>

<style scoped>

</style>
