<template>
  <div>
    <code-block title="<form>" :code="form" :example="form"/>
    <code-block title="<label>" :code="label" :example="label"/>
    <code-block title="<input/>" :code="inputText" :example="inputText"/>
    <code-block title="<input/>" :code="inputPassword" :example="inputPassword"/>
    <code-block title="<input/>" :code="inputColor" :example="inputColor"/>
    <code-block title="<input/>" :code="inputDate" :example="inputDate"/>
    <code-block title="<input/>" :code="inputMonth" :example="inputMonth"/>
    <code-block title="<input/>" :code="inputWeek" :example="inputWeek"/>
    <code-block title="<input/>" :code="inputTime" :example="inputTime"/>
    <code-block title="<input/>" :code="inputMail" :example="inputMail"/>
    <code-block title="<input/>" :code="inputTel" :example="inputTel"/>
    <code-block title="<input/>" :code="inputFile" :example="inputFile"/>
    <code-block title="<input/>" :code="inputNumber" :example="inputNumber"/>
    <code-block title="<input/>" :code="inputRange" :example="inputRange"/>
    <code-block title="<input/>" :code="inputSearch" :example="inputSearch"/>
    <code-block title="<input/>" :code="inputURL" :example="inputURL"/>
    <code-block title="<textarea>" :code="textarea" :example="textarea"/>
    <code-block title="<input/>" :code="radio" :example="radio"/>
    <code-block title="<input/>" :code="checkbox" :example="checkbox"/>
    <code-block title="<fieldset><legend>" :code="fieldSet" :example="fieldSet"/>
    <code-block title="<select><option>" :code="select" :example="select"/>
    <code-block title="<optgroup>" :code="selectOptions" :example="selectOptions"/>
  </div>
</template>

<script>
export default {
  name: 'Form',
  data () {
    return {
      form:
        `<form action="form.php" method="post">
\t<input type="text"/>
\t<button type="submit">Valider</button>
</form>`,
      label:
        `<label for="name">Mon nom :</label><br/>
<input id="name" type="text"/>`,
      inputText: '<input type="text"/>',
      inputPassword: '<input type="password"/>',
      inputColor: '<input type="color"/>',
      inputDate: '<input type="datetime-local"/>',
      inputMonth: '<input type="month"/>',
      inputWeek: '<input type="week"/>',
      inputTime: '<input type="time"/>',
      inputMail: '<input type="email"/>',
      inputTel: '<input type="tel"/>',
      inputFile: '<input type="file"/>',
      inputNumber: '<input type="number"/>',
      inputRange: '<input type="range"/>',
      inputSearch: '<input type="search"/>',
      inputURL: '<input type="url"/>',
      textarea: '<textarea></textarea>',
      radio:
        `<input type="radio" id="r11" name="group1" value="rouge"/>
<label for="r11">Rouge</label><br/>
<input type="radio" id="r12" name="group1" value="bleu"/>
<label for="r12">Bleu</label><br/>
<input type="radio" id="r13" name="group1" value="jaune"/>
<label for="r13">Jaune</label><br/>
<br/>
<input type="radio" id="r21" name="group2" value="carre"/>
<label for="r21">Carré</label><br/>
<input type="radio" id="r22" name="group2" value="rond"/>
<label for="r22">Rond</label><br/>
<input type="radio" id="r23" name="group2" value="triangle"/>
<label for="r23">Triangle</label>`,
      checkbox:
        `<input type="checkbox" id="c11" name="c1" value="rouge"/>
<label for="c11">Rouge</label><br/>
<input type="checkbox" id="c12" name="c2" value="bleu"/>
<label for="c12">Bleu</label><br/>
<input type="checkbox" id="c13" name="c3" value="jaune"/>
<label for="c13">Jaune</label>`,
      fieldSet:
        `<fieldset>
\t<legend>Ma couleur préférée</legend>
\t<input type="radio" id="r11" name="g1" value="rouge"/>
\t<label for="r11">Rouge</label><br/>
\t<input type="radio" id="r12" name="g1" value="bleu"/>
\t<label for="r12">Bleu</label><br/>
\t<input type="radio" id="r13" name="g1" value="jaune"/>
\t<label for="r13">Jaune</label><br/>
</fieldset>`,
      select:
      `<select name="color">
\t<option value="red">Rouge</option>
\t<option value="blue">Bleu</option>
\t<option value="yellow">Jaune</option>
</select>`,
      selectOptions:
        `<select>
\t<optgroup label="Couleur">
\t\t<option>Rouge</option>
\t\t<option>Bleu</option>
\t\t<option>Jaune</option>
\t</optgroup>
\t<optgroup label="Forme">
\t\t<option>Carré</option>
\t\t<option>Rond</option>
\t\t<option>Triangle</option>
\t</optgroup>
</select>`
    }
  }
}
</script>
