<template>
  <div>
    <code-block title="<img/>" :code="image" :example="image"/>
  </div>
</template>

<script>
export default {
  name: 'ImagePage',
  data () {
    return {
      image: '<img src="/img/html/zelda.png" alt="Image de link tenant un panneau où il est écrit Dude, I\'m not Zelda."/>'
    }
  }
}
</script>
