<template>
  <div>
    <code-block title="<a>" :code="absolute" :example="absolute"/>
    <code-block title="<a>" :code="relatif1" :example="relatif1"/>
    <code-block title="<a>" :code="relatif2" :example="relatif2"/>
    <code-block title="<a>" :code="relatif3" :example="relatif3"/>
    <code-block title="<a>" :code="anchor" :example="anchor"/>
  </div>
</template>

<script>
export default {
  name: 'Link',
  data () {
    return {
      relatif1: '<a href="/dossier/page.html">Relatif</a>',
      relatif2: '<a href="./dossier/page.html">Relatif</a>',
      relatif3: '<a href="dossier/page.html">Relatif</a>',
      absolute: '<a href="http://www.google.fr">Absolu</a>',
      anchor: '<a href="/page.html#titre">Ancre</a>'
    }
  }
}
</script>
