<template>
  <div>
    <code-block title="<ul><li>" :code="ordered" :example="ordered"/>
    <code-block title="<ol><li>" :code="unordered" :example="unordered"/>
    <code-block title="<dl><dt><dd>" :code="definition" :example="definition"/>
  </div>
</template>

<script>
export default {
  name: 'List',
  data () {
    return {
      ordered:
`<ul>
\t<li>Ligne 1</li>
\t<li>Ligne 2</li>
\t<li>Ligne 3</li>
</ul>`,
      unordered:
`<ol>
\t<li>Ligne 1</li>
\t<li>Ligne 2</li>
\t<li>Ligne 3</li>
</ol>`,
      definition:
`<dl>
\t<dt>list :</dt>
\t<dd>Ensemble de mots.</dd>
\t<dt>Item :</dt>
\t<dd>Détail d'un mot.</dd>
</dl>`
    }
  }
}
</script>
