<template>
  <div id="request__response__container">
    <router-link :to="{ name: 'modelClientServer-clientServer-requestResponse-request' }">
      <div id="request" :class="{ 'active-section': requestRoute }">
        <v-icon>desktop_mac</v-icon>
        <svg width="150" height="60" class="mini__svg">
          <path d="M0,20h120v-20l30,30l-30,30v-20h-120Z"/>
        </svg>
        <svg width="250" height="90" class="maxi__svg">
          <path d="M0,30h200v-20l50,35l-50,35v-20h-200Z"/>
        </svg>
        <v-icon>dns</v-icon>
        <div class="textField">Request</div>
      </div>
    </router-link>

    <router-link :to="{ name: 'modelClientServer-clientServer-requestResponse-response' }">
      <div id="response" :class="{ 'active-section': responseRoute }">
        <v-icon>desktop_mac</v-icon>
        <svg width="150" height="60" class="mini__svg">
          <path d="M150,20h-120v-20l-30,30l30,30v-20h120Z"/>
        </svg>
        <svg width="250" height="90" class="maxi__svg">
          <path d="M250,30h-200v-20l-50,35l50,35v-20h200Z"/>
        </svg>
        <v-icon>dns</v-icon>
        <div class="textField">Response</div>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'NavRequestResponse',
  computed: {
    requestRoute () {
      return this.$route.name === 'modelClientServer-clientServer-requestResponse-request' ||
        this.$route.name === 'modelClientServer-clientServer-requestResponse-requestExamples'
    },
    responseRoute () {
      return this.$route.name === 'modelClientServer-clientServer-requestResponse-response' ||
        this.$route.name === 'modelClientServer-clientServer-requestResponse-responseExamples'
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/general";

  #request__response__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media all and (max-width: $s) {
      grid-template-columns: 1fr;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: bold;

      @media all and (max-width: $s) {
        border: 1px solid black;
      }

      #request, #response {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;

        &.active-section {
          background-color: #ebebeb;
        }

        .v-icon {
          margin: 15px;
          font-size: 60px;

          @media all and (max-width: $s) {
            font-size: 40px;
          }
        }

        .mini__svg {
          display: none;
        }

        @media all and (max-width: $s) {
          .mini__svg {
            display: block;
          }

          .maxi__svg {
            display: none;
          }
        }

        .textField {
          position: absolute;
          z-index: 500;
          height: 50px;
          width: 100px;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid black;

          @media all and (max-width: $s) {
            width: 70px;
            font-size: 14px;
          }
        }
      }

      #request {
        border-left: 1px solid black;
      }

      @media all and (max-width: $s) {
        #response {
          border-left: 1px solid black;
          border-top: none;
        }
      }
    }
  }
</style>
