<template>
  <v-sheet
    :color="color"
    height="100%"
    tile
  >
    <section>
      <h1>5XX - Server error</h1>

      <article>
        <div class="response__rows">
          <div class="response__row">
            <p @click.stop="onChangeComponent('500')" class="paragraph__link">500</p>
            <p>Internal Server Error</p>
          </div>
        </div>
        <http-cat :image="getImage" :status-code="statusCode"/>
      </article>
    </section>
  </v-sheet>
</template>

<script>
import ResponseMixin from '@/components/ModelClientServer/ClientServer/ResponseMixin'
import httpCat from '@/components/ModelClientServer/ClientServer/Response/httpCat'

export default {
  name: 'Response500',
  mixins: [ResponseMixin],
  components: { httpCat }
}
</script>

<style lang="scss" scoped>
@import "styleResponse";
</style>
