<template>
  <v-sheet
    :color="color"
    height="100%"
    tile
  >
    <section>
      <h1>2XX - Successful</h1>

      <article>
        <div class="response__rows">
          <div class="response__row">
            <p @click.stop="onChangeComponent('200')" class="paragraph__link">200</p>
            <p>OK</p>
          </div>
          <div class="response__row">
            <p @click.stop="onChangeComponent('201')" class="paragraph__link">201</p>
            <p>Created</p>
          </div>
          <div class="response__row">
            <p @click.stop="onChangeComponent('204')" class="paragraph__link">204</p>
            <p>No Content</p>
          </div>
          <div class="response__row">
            <p @click.stop="onChangeComponent('206')" class="paragraph__link">206</p>
            <p>Partial Content</p>
          </div>
        </div>
        <http-cat :image="getImage" :status-code="statusCode"/>
      </article>
    </section>
  </v-sheet>
</template>

<script>
import ResponseMixin from '@/components/ModelClientServer/ClientServer/ResponseMixin'
import httpCat from '@/components/ModelClientServer/ClientServer/Response/httpCat'

export default {
  name: 'Response200',
  mixins: [ResponseMixin],
  components: { httpCat }
}
</script>

<style lang="scss" scoped>
@import "styleResponse";
</style>
