<template>
  <v-sheet
    :color="color"
    height="100%"
    tile
  >
    <section>
      <h1>4XX - Client error</h1>

      <article>
        <div class="response__rows">
          <div class="response__row">
            <p @click.stop="onChangeComponent('400')" class="paragraph__link">400</p>
            <p>Bad Request</p>
          </div>
          <div class="response__row">
            <p @click.stop="onChangeComponent('401')" class="paragraph__link">401</p>
            <p>Unauthorized</p>
          </div>
          <div class="response__row">
            <p @click.stop="onChangeComponent('403')" class="paragraph__link">403</p>
            <p>Forbidden</p>
          </div>
          <div class="response__row">
            <p @click.stop="onChangeComponent('404')" class="paragraph__link">404</p>
            <p>Not Found</p>
          </div>
          <div class="response__row">
            <p @click.stop="onChangeComponent('405')" class="paragraph__link">405</p>
            <p>Method Not Allowed</p>
          </div>
          <div class="response__row">
            <p @click.stop="onChangeComponent('409')" class="paragraph__link">409</p>
            <p>Conflict</p>
          </div>
        </div>
        <http-cat :image="getImage" :status-code="statusCode"/>
      </article>
    </section>
  </v-sheet>
</template>

<script>
import ResponseMixin from '@/components/ModelClientServer/ClientServer/ResponseMixin'
import httpCat from '@/components/ModelClientServer/ClientServer/Response/httpCat'

export default {
  name: 'Response400',
  mixins: [ResponseMixin],
  components: { httpCat }
}
</script>

<style lang="scss" scoped>
@import "styleResponse";
</style>
