<template>
<div>
  <h1>Bootstrap</h1>

  Lien : <a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">Documentation de Bootstrap</a>

  <h2>Prise en main rapide :</h2>

  <h3>Balises à ajouter</h3>
  <ul>
    <li><pre>&#x3C;{{ bootstrapCSS }}&#x3E;</pre></li>
    <li><pre>&#x3C;{{ jquery }}&#x3E;&#x3C;{{ end }}&#x3E;</pre></li>
    <li><pre>&#x3C;{{ jquery }}&#x3E;&#x3C;{{ end }}&#x3E;</pre></li>
    <li><pre>&#x3C;{{ jquery }}&#x3E;&#x3C;{{ end }}&#x3E;</pre></li>
  </ul>

  <h3>Principes de bootstrap</h3>
  <ul>
    <li><a href="https://getbootstrap.com/docs/4.0/layout/overview/#containers" target="_blank">Containeur</a></li>
    <li><a href="https://getbootstrap.com/docs/4.0/layout/grid/#how-it-works" target="_blank">Principes de la grille</a></li>
    <li><a href="https://getbootstrap.com/docs/4.0/layout/grid/#grid-options" target="_blank">Options de la grille</a></li>
    <li><a href="https://getbootstrap.com/docs/4.0/components/alerts/" target="_blank">Composants</a></li>
  </ul>
</div>
</template>

<script>
export default {
  name: 'Bootstrap',
  data () {
    return {
      bootstrapCSS:
`link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"`,
      jquery: `script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"`,
      popper: `script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"`,
      bootstrapJS: `script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"`,
      end: `/script`
    }
  }
}
</script>

<style lang="scss" scoped>
  h1 {
    font-size: 2em;
    margin: 30px 0;
  }

  h2 {
    font-size: 1.5em;
    margin: 20px 0;
  }

  p, li {
    font-size: 16px;
  }
</style>
