<template>
  <div>
    <v-expansion-panels>
      <v-expansion-panel>
        <v-expansion-panel-header>Flex</v-expansion-panel-header>
        <v-expansion-panel-content>
          <flex/>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>Grid</v-expansion-panel-header>
        <v-expansion-panel-content>
          <grid/>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
export default {
  name: 'GridFlex',
  components: {
    flex: () => import('@/components/CSS/Technology/Flex'),
    grid: () => import('@/components/CSS/Technology/Grid')
  }
}
</script>
