<template>
  <div>
    <v-expansion-panels>
      <v-expansion-panel>
        <v-expansion-panel-header>Balise compréhensible</v-expansion-panel-header>
        <v-expansion-panel-content>
          <code-block :title="tagNamed.bad.title"
                      :code="tagNamed.bad.code"
                      :example="tagNamed.bad.text"
          />
          <code-block :title="tagNamed.good.title"
                      :code="tagNamed.good.code"
                      :example="tagNamed.good.text"
          />
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>Hiérarchisation</v-expansion-panel-header>
        <v-expansion-panel-content>
          <code-block :title="title.title"
                      :code="title.code"
                      :example="title.text"
          />
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>Tabulation</v-expansion-panel-header>
        <v-expansion-panel-content>
          <p>Vérifier l'ordre d'enchaînement des tabulations.</p>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>Attributs contextuels</v-expansion-panel-header>
        <v-expansion-panel-content>
          <code-block title="alt" :code="attr.image" :example="attr.image"/>
          <code-block title="title" :code="attr.link" :example="attr.link"/>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>Langue du site</v-expansion-panel-header>
        <v-expansion-panel-content>
          <code-block :title="langage.title" :code="langage.code" :example="langage.text"/>
          <p class="app__ressources">Ressources :</p>
          <ul class="app__ressources">
            <li>
              <a href="https://www.w3.org/International/articles/language-tags/" target="_blank">
                Language tags in HTML and XML
              </a>
            </li>
            <li>
              <a href="https://developer.mozilla.org/fr/docs/Accessibilit%C3%A9" target="_blank">Accessibilité</a>
            </li>
          </ul>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>Langage compréhensible</v-expansion-panel-header>
        <v-expansion-panel-content>
          <h2>Texte</h2>

          <h3>...en toute lettre</h3>
          <code-block :title="text.text.allLetter.bad.title"
                      :code="text.text.allLetter.bad.code"
                      :example="text.text.allLetter.bad.text"
          />
          <code-block :title="text.text.allLetter.good.title"
                      :code="text.text.allLetter.good.code"
                      :example="text.text.allLetter.good.text"
          />

          <h3>...sans abréviation</h3>
          <code-block :title="text.text.abbreviation.bad.title"
                      :code="text.text.abbreviation.bad.code"
                      :example="text.text.abbreviation.bad.text"
          />
          <code-block :title="text.text.abbreviation.good.title"
                      :code="text.text.abbreviation.good.code"
                      :example="text.text.abbreviation.good.text"
          />

          <h3>...sans argot, langage professionnel ou acronyme</h3>
          <code-block :title="text.text.argot.bad.title"
                      :code="text.text.argot.bad.code"
                      :example="text.text.argot.bad.text"
          />
          <code-block :title="text.text.argot.good.title"
                      :code="text.text.argot.good.code"
                      :example="text.text.argot.good.text"
          />
          <h2>Texte des boutons et des liens</h2>

          <h3>...clairs</h3>
          <code-block :title="text.link.comprehensive.bad.title"
                      :code="text.link.comprehensive.bad.code"
                      :example="text.link.comprehensive.bad.code"
          />
          <code-block :title="text.link.comprehensive.good.title"
                      :code="text.link.comprehensive.good.code"
                      :example="text.link.comprehensive.good.code"
          />

          <h3>...entier</h3>
          <code-block :title="text.link.full.bad.title"
                      :code="text.link.full.bad.code"
                      :example="text.link.full.bad.code"
          />
          <code-block :title="text.link.full.good.title"
                      :code="text.link.full.good.code"
                      :example="text.link.full.good.code"
          />

          <h3>...complet</h3>
          <code-block :title="text.link.complet.bad.title"
                      :code="text.link.complet.bad.code"
                      :example="text.link.complet.bad.code"
          />
          <code-block :title="text.link.complet.good.title"
                      :code="text.link.complet.good.code"
                      :example="text.link.complet.good.code"
          />
          <code-block :title="text.link.complet.good2.title"
                      :code="text.link.complet.good2.code"
                      :example="text.link.complet.good2.code"
          />
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>

    <p class="app__ressources">Ressources :</p>
    <ul class="app__ressources">
      <li>
        <a href="https://www.w3schools.com/html/html_accessibility.asp" target="_blank">HTML Accessibility</a>
      </li>
      <li>
        <a href="https://developer.mozilla.org/fr/docs/Accessibilit%C3%A9" target="_blank">Accessibilité</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Accessibility',
  data () {
    return {
      tagNamed: {
        bad: {
          title: 'Balise anonyme',
          code: '<div><span></span></div>',
          text: '<span style="color:red;">FAUX</span>'
        },
        good: {
          title: 'Balise nommée',
          code: '<section><article></article></section>',
          text: '<span style="color:green;">JUSTE</span>'
        }
      },
      title: {
        title: 'Titre',
        code:
          `<h1>Titre principale</h1>
\t<h2>Premier sous-titre</h2>
\t\t<h3>Sous-sous-titre</h3>
\t<h2>Second sous-titre</h2>
`,
        text: 'Hiérarchiser les titres selon leur importance'
      },
      attr: {
        image: '<img src="/img/html/zelda.png" alt="Image de link tenant un panneau où il est écrit Dude, I\'m not Zelda."/>',
        link: '<a href="/mon/url/page.html" title="Lien qui emmène vers la page utilisateur">Page utilisateur</a>'
      },
      langage: {
        title: 'lang',
        code: '<html lang="fr">...</html>',
        text: ''
      },
      text: {
        text: {
          allLetter: {
            bad: {
              title: 'Intervalle',
              code: '<p>1-3 joueurs</p>',
              text: '<span style="color:red;">FAUX</span>'
            },
            good: {
              title: 'Intervalle',
              code: '<p>De 1 à 3 joueurs</p>',
              text: '<span style="color:green;">JUSTE</span>'
            }
          },
          abbreviation: {
            bad: {
              title: 'Abréviation',
              code: '<p>5 Fev. 2019</p>',
              text: '<span style="color:red;">FAUX</span>'
            },
            good: {
              title: 'Abréviation',
              code: '<p>5 février 2019</p>',
              text: '<span style="color:green;">JUSTE</span>'
            }
          },
          argot: {
            bad: {
              title: 'Langage professionnel, acronyme',
              code: '<p>Utiliser l\'ORM du framework pour permettre de send la response.</p>',
              text: '<span style="color:red;">FAUX</span>'
            },
            good: {
              title: 'Langage professionnel, acronyme',
              code: '<p>Utiliser le module permettant de dialoguer avec la base de données, pour permettre de renvoyer à l\'utilisateur la réponse.</p>',
              text: '<span style="color:green;">JUSTE</span>'
            }
          }
        },
        link: {
          comprehensive: {
            bad: {
              title: 'Clair',
              code: '<a href="/url">Click here</a>',
              text: '<span style="color:red;">FAUX</span>'
            },
            good: {
              title: 'Clair',
              code: '<a href="/url">Plus d\'information sur le HTML</a>',
              text: '<span style="color:green;">JUSTE</span>'
            }
          },
          complet: {
            bad: {
              title: 'Complet',
              code: '<a href="/url">Lire la suite...</a>',
              text: '<span style="color:red;">FAUX</span>'
            },
            good: {
              title: 'Complet',
              code: 'Lire la suite de l\'<a href="/url">article</a>',
              text: '<span style="color:green;">JUSTE</span>'
            },
            good2: {
              title: 'Complet',
              code: '<a href="/url">Lire la suite de l\'article</a>',
              text: '<span style="color:green;">JUSTE</span>'
            }
          },
          full: {
            bad: {
              title: 'Entier',
              code: 'Acheter des billets <a href="/url">ici</a>',
              text: '<span style="color:red;">FAUX</span>'
            },
            good: {
              title: 'Entier',
              code: '<a href="/url">Acheter des billets ici</a>',
              text: '<span style="color:green;">JUSTE</span>'
            }
          }
        }
      }
    }
  }
}
</script>

<style scoped>
  @import "../../../assets/style/_ressources.scss";

  h3 {
    margin-top: 40px;
  }
</style>
