<template>
  <div>
    <img src="/img/html/maquette.png" alt="Maquette d'un site d'un collège pour apprendre le découpage de maquette."/>
  </div>
</template>

<script>
export default {
  name: 'Cutting'
}
</script>

<style lang="scss" scoped>
img {
  width: 100%;
}
</style>
