@import "../../../../../node_modules/vue-code-highlight/themes/prism-okaidia.css";
@import "../../../../../node_modules/vue-code-highlight/themes/window.css";

section {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-gap: 30px;

  h2, .infos {
    grid-column: 1/3;
  }

  .infos {
    p, li {
      font-size: 18px;
    }

    ul {
      margin-bottom: 15px;
    }
  }

  .code__and__action {
    display: flex;
    flex-direction: column;

    button {
      margin-top: 20px;
    }
  }

  .DOM__test {
    position: relative;

    .DOM__test__container {
      top: 5px;
      position: sticky;

      form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        label {
          margin-top: 10px;
        }

        input {
          border: 1px solid #cacaca;
        }
      }
    }
  }
}
