<template>
  <section>
    <div class="DOM__test">
      <div class="DOM__test__container">
        <h1>DOM d'essai</h1>

        <p>Ceci est un DOM de test</p>

        <p>Il permet de tester les accès au DOM</p>

        <ul id="main__list">
          <li id="first__element" class="list__element">getAttributes</li>
          <li class="list__element second__element">setAttributes</li>
          <li class="list__element">classList</li>
          <li class="list__element">.id</li>
          <li class="list__element">.href</li>
          <li class="list__element">.value</li>
        </ul>

        <a title="Champ d'explication" href="/url/du/lien">Ceci est un lien</a>

        <form id="main__form">
          <label for="firstName">Prénom</label>
          <input type="text" id="firstName" name="firstName"/>
          <label for="lastName">Nom</label>
          <input type="text" id="lastName" name="lastName"/>
        </form>
      </div>
    </div>

    <pre v-highlight class="language-javascript">
      <code>{{ accessGetAttributes }}</code>
    </pre>

    <v-btn @click="accessGetAttributesTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ accessSetAttributes }}</code>
    </pre>

    <v-btn @click="accessSetAttributesTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ accessClassList }}</code>
    </pre>

    <v-btn @click="accessClassListTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ accessId }}</code>
    </pre>

    <v-btn @click="accessIdTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ accessHref }}</code>
    </pre>

    <v-btn @click="accessHrefTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ accessValue }}</code>
    </pre>

    <v-btn @click="accessValueTest">Essai</v-btn>
  </section>
</template>

<script>
export default {
  name: 'Attributes',
  data () {
    return {
      accessGetAttributes: `console.log(
   document.querySelector('.DOM__test__container a')
     .getAttribute('title')
 )`,
      accessSetAttributes: `document.querySelector('.DOM__test__container a')
   .setAttribute('title', 'Nouveau titre pour le paragraphe')`,
      accessClassList: `console.log(
   document.querySelector('#main__list .list__element')
     .nextElementSibling
     .classList
 )`,
      accessId: `console.log(
   document.querySelector('#main__list .list__element')
     .id
 )`,
      accessHref: `console.log(
   document.querySelector('.DOM__test__container a')
     .href
 )`,
      accessValue: `console.log(
   document.querySelector('#firstName')
     .value
 )`
    }
  },
  methods: {
    accessGetAttributesTest () {
      console.log(
        document.querySelector('.DOM__test__container a')
          .getAttribute('title')
      )
    },
    accessSetAttributesTest () {
      document.querySelector('.DOM__test__container a')
        .setAttribute('title', 'Nouveau titre pour le paragraphe')
    },
    accessClassListTest () {
      console.log(
        document.querySelector('#main__list .list__element')
          .nextElementSibling
          .classList
      )
    },
    accessIdTest () {
      console.log(
        document.querySelector('#main__list .list__element')
          .id
      )
    },
    accessHrefTest () {
      console.log(
        document.querySelector('.DOM__test__container a')
          .href
      )
    },
    accessValueTest () {
      console.log(
        document.querySelector('#firstName')
          .value
      )
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "style";

  .DOM__test {
    grid-row: 1/13;
    grid-column: 2/3;
  }
</style>
