<template>
  <section>
    <div class="DOM__test">
      <div class="DOM__test__container">
        <h1>DOM d'essai</h1>

        <p>Ceci est un DOM de test</p>

        <p>Il permet de tester les accès au DOM</p>

        <ul id="main__list">
          <li class="list__element">createElement</li>
          <li class="list__element">createTextNode</li>
          <li class="list__element">removeChild</li>
          <li class="list__element">replaceChild</li>
          <li class="list__element">appendChild</li>
          <li class="list__element">insertBefore</li>
          <li class="list__element">insertAdjacentHTML</li>
        </ul>

        <form id="main__form">
          <label for="firstName">Prénom</label>
          <input type="text" id="firstName" name="firstName"/>
          <label for="lastName">Nom</label>
          <input type="text" id="lastName" name="lastName"/>
        </form>
      </div>
    </div>

    <pre v-highlight class="language-javascript">
      <code>{{ crudCreateElement }}</code>
    </pre>

    <v-btn @click="crudCreateElementTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ crudCreateTextNode }}</code>
    </pre>

    <v-btn @click="crudCreateTextNodeTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ crudReplaceChild }}</code>
    </pre>

    <v-btn @click="crudReplaceChildTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ crudRemoveChild }}</code>
    </pre>

    <v-btn @click="crudRemoveChildTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ crudInsertAdjacentHTML }}</code>
    </pre>

    <v-btn @click="crudInsertAdjacentHTMLTest">Essai</v-btn>

    <div class="infos">
      <p>
        À la place de la méthode <code>insertAdjacentHTML</code> on peut utiliser, avec le même fonctionnement, les
        méthodes :
      </p>
      <ul>
        <li><code>insertAdjacentElement</code></li>
        <li><code>insertAdjacentText</code></li>
      </ul>

      <p>Les trois méthodes peuvent prendre comme premier argument :</p>
      <img src="/img/javascript/insertAdjacentHTML.png"
           alt="Shéma qui montre où se place les élément en fonction du premier argument de la fonction"/>
    </div>
  </section>
</template>

<script>
export default {
  name: 'CRUD',
  data () {
    return {
      crudCreateElement: `let newP = document.createElement('p')
 newP.id = 'new__paragraph'
 newP.textContent = 'Je suis un nouveau paragraphe !'
 document.querySelector('.DOM__test .DOM__test__container')
   .insertBefore(
     newP,
     document.getElementById('main__list')
   )`,
      crudCreateTextNode: `let newText = document.createTextNode(' Je suis du texte ajouté')
 document.getElementById('new__paragraph')
   .appendChild(newText)`,
      crudReplaceChild: `let newNewP = document.createElement('p')
 newNewP.id = 'new__new__paragraph'
 newNewP.textContent = 'Je suis un paragraphe encore plus nouveau !'
 document.querySelector('.DOM__test .DOM__test__container')
   .replaceChild(
     newNewP,
     document.getElementById('new__paragraph')
   )`,
      crudRemoveChild: `document.querySelector('.DOM__test .DOM__test__container')
   .removeChild(
     document.getElementById('new__new__paragraph')
   )`,
      crudInsertAdjacentHTML: `document.getElementById('main__list')
   .insertAdjacentHTML('afterbegin', '<li>Nouvel élément de liste</li>')`
    }
  },
  methods: {
    crudCreateElementTest () {
      let newP = document.createElement('p')
      newP.id = 'new__paragraph'
      newP.textContent = 'Je suis un nouveau paragraphe !'
      document.querySelector('.DOM__test .DOM__test__container')
        .insertBefore(
          newP,
          document.getElementById('main__list')
        )
    },
    crudCreateTextNodeTest () {
      let newText = document.createTextNode(' Je suis du texte ajouté')
      document.getElementById('new__paragraph')
        .appendChild(newText)
    },
    crudReplaceChildTest () {
      let newNewP = document.createElement('p')
      newNewP.id = 'new__new__paragraph'
      newNewP.textContent = 'Je suis un paragraphe encore plus nouveau !'
      document.querySelector('.DOM__test .DOM__test__container')
        .replaceChild(
          newNewP,
          document.getElementById('new__paragraph')
        )
    },
    crudRemoveChildTest () {
      document.querySelector('.DOM__test .DOM__test__container')
        .removeChild(
          document.getElementById('new__new__paragraph')
        )
    },
    crudInsertAdjacentHTMLTest () {
      document.getElementById('main__list')
        .insertAdjacentHTML('afterbegin', '<li>Nouvel élément de liste</li>')
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "style";

  .DOM__test {
    grid-row: 1/11;
    grid-column: 2/3;
  }
</style>
