<template>
  <section>
    <h2>Point d'entrée</h2>

    <div class="code__and__action">
      <pre v-highlight class="language-javascript">
        <code>{{ document }}</code>
      </pre>

      <v-btn @click="documentAccessTest">Essai</v-btn>
    </div>

    <p></p>

    <div class="code__and__action">
      <pre v-highlight class="language-javascript">
        <code>{{ window }}</code>
      </pre>

      <v-btn @click="documentAccessTest">Essai</v-btn>
    </div>

    <p></p>

    <div class="infos">
      Différences :
      <ul>
        <li><code>window</code> élément chargé en premier</li>
        <li><code>document</code> élément de <code>window</code></li>
        <li><code>window</code> attributs comme taille en pixel, position de scroll...</li>
        <li><code>document</code> attributs comme l'url, titre de la page...</li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Document',
  data () {
    return {
      document: 'console.log(document)',
      window: 'console.log(window)'
    }
  },
  methods: {
    documentAccessTest () {
      console.log(document)
    },
    windowAccessTest () {
      console.log(window)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "style";
</style>
