<template>
  <section>
    <div class="DOM__test">
      <div class="DOM__test__container">
        <h1>DOM d'essai</h1>

        <p>Ceci est un DOM de test</p>

        <p>Il permet de tester les accès au DOM</p>

        <ul id="main__list">
          <li class="list__element">childNodes</li>
          <li class="list__element">parentNode</li>
          <li class="list__element">parentElement</li>
          <li class="list__element">children</li>
          <li class="list__element">nextSibling</li>
          <li class="list__element">nextElementSibling</li>
          <li class="list__element">previousSibling</li>
          <li class="list__element">previousElementSibling</li>
        </ul>

        <form id="main__form">
          <label for="firstName">Prénom</label>
          <input type="text" id="firstName" name="firstName"/>
          <label for="lastName">Nom</label>
          <input type="text" id="lastName" name="lastName"/>
        </form>
      </div>
    </div>

    <pre v-highlight class="language-javascript">
      <code>{{ navigationParentNode }}</code>
    </pre>

    <v-btn @click="navigationParentNodeTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ navigationParentElement }}</code>
    </pre>

    <v-btn @click="navigationParentElementTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ navigationChildNodes }}</code>
    </pre>

    <v-btn @click="navigationChildNodesTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ navigationChildren }}</code>
    </pre>

    <v-btn @click="navigationChildrenTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ navigationNextSibling }}</code>
    </pre>

    <v-btn @click="navigationNextSiblingTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ navigationNextElementSibling }}</code>
    </pre>

    <v-btn @click="navigationNextElementSiblingTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ navigationPreviousSibling }}</code>
    </pre>

    <v-btn @click="navigationPreviousSiblingTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ navigationPreviousElementSibling }}</code>
    </pre>

    <v-btn @click="navigationPreviousElementSiblingTest">Essai</v-btn>
  </section>
</template>

<script>
export default {
  name: 'Navigation',
  data () {
    return {
      navigationParentNode: `console.log(
   document.querySelector('#main__list li')
     .parentNode
 )`,
      navigationParentElement: `console.log(
   document.querySelector('#main__list li')
     .parentElement
 )`,
      navigationChildNodes: `console.log(
   document.getElementById('main__list')
     .childNodes
 )`,
      navigationChildren: `console.log(
   document.getElementById('main__list')
     .children
 )`,
      navigationNextSibling: `console.log(
   document.querySelector('#main__list li:nth-child(2)')
     .nextSibling
 )`,
      navigationNextElementSibling: `console.log(
   document.querySelector('#main__list li:nth-child(2)')
     .nextElementSibling
 )`,
      navigationPreviousSibling: `console.log(
   document.querySelector('#main__list li:nth-child(2)')
     .previousSibling
 )`,
      navigationPreviousElementSibling: `console.log(
   document.querySelector('#main__list li:nth-child(2)')
     .previousElementSibling
 )`
    }
  },
  methods: {
    navigationParentNodeTest () {
      console.log(
        document.querySelector('#main__list li')
          .parentNode
      )
    },
    navigationParentElementTest () {
      console.log(
        document.querySelector('#main__list li')
          .parentElement
      )
    },
    navigationChildNodesTest () {
      console.log(
        document.getElementById('main__list')
          .childNodes
      )
    },
    navigationChildrenTest () {
      console.log(
        document.getElementById('main__list')
          .children
      )
    },
    navigationNextSiblingTest () {
      console.log(
        document.querySelector('#main__list li:nth-child(2)')
          .nextSibling
      )
    },
    navigationNextElementSiblingTest () {
      console.log(
        document.querySelector('#main__list li:nth-child(2)')
          .nextElementSibling
      )
    },
    navigationPreviousSiblingTest () {
      console.log(
        document.querySelector('#main__list li:nth-child(2)')
          .previousSibling
      )
    },
    navigationPreviousElementSiblingTest () {
      console.log(
        document.querySelector('#main__list li:nth-child(2)')
          .previousElementSibling
      )
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "style";

  .DOM__test {
    grid-row: 1/17;
    grid-column: 2/3;
  }
</style>
