<template>
  <section>
    <div class="DOM__test">
      <div class="DOM__test__container">
        <h1>DOM d'essai</h1>

        <p>Ceci est un DOM de test</p>

        <p>Il permet de tester les accès au DOM</p>

        <ul id="main__list">
          <li class="list__element">style.cssAttributeName</li>
          <li class="list__element">getComputedStyle</li>
        </ul>

        <form id="main__form">
          <label for="firstName">Prénom</label>
          <input type="text" id="firstName" name="firstName"/>
          <label for="lastName">Nom</label>
          <input type="text" id="lastName" name="lastName"/>
        </form>
      </div>
    </div>

    <pre v-highlight class="language-javascript">
      <code>{{ accessSetStyle }}</code>
    </pre>

    <v-btn @click="accessSetStyleTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ accessStyle }}</code>
    </pre>

    <v-btn @click="accessStyleTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ accessGetComputedStyle }}</code>
    </pre>

    <v-btn @click="accessGetComputedStyleTest">Essai</v-btn>
  </section>
</template>

<script>
export default {
  name: 'StyleAccess',
  data () {
    return {
      accessSetStyle: `document.querySelector('.DOM__test__container p:nth-child(3)')
   .style.backgroundColor = 'red'`,
      accessStyle: `console.log(
   document.querySelector('.DOM__test__container p:nth-child(3)')
     .style.backgroundColor
 )`,
      accessGetComputedStyle: `console.log(
   window.getComputedStyle(
     document.querySelector('.DOM__test__container p:nth-child(2)'),
     null
   ).color
 )`
    }
  },
  methods: {
    accessSetStyleTest () {
      document.querySelector('.DOM__test__container p:nth-child(3)')
        .style.backgroundColor = 'red'
    },
    accessStyleTest () {
      console.log(
        document.querySelector('.DOM__test__container p:nth-child(3)')
          .style.backgroundColor
      )
    },
    accessGetComputedStyleTest () {
      console.log(
        window.getComputedStyle(
          document.querySelector('.DOM__test__container p:nth-child(2)'),
          null
        ).color
      )
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "style";

  .DOM__test {
    grid-row: 1/7;
    grid-column: 2/3;
  }

  .DOM__test__container {
    p:nth-child(2) {
      color: blue;
    }
  }
</style>
