<template>
  <section>
    <div class="DOM__test">
      <div class="DOM__test__container">
        <h1>DOM d'essai</h1>

        <p>Ceci est un DOM de test</p>

        <p>Il permet de tester les accès au DOM</p>

        <ul id="main__list">
          <li class="list__element">textContent</li>
          <li class="list__element">innerHTML</li>
        </ul>

        <form id="main__form">
          <label for="firstName">Prénom</label>
          <input type="text" id="firstName" name="firstName"/>
          <label for="lastName">Nom</label>
          <input type="text" id="lastName" name="lastName"/>
        </form>
      </div>
    </div>

    <pre v-highlight class="language-javascript">
      <code>{{ navigationTextContent }}</code>
    </pre>

    <v-btn @click="navigationTextContentTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ navigationInnerHTML }}</code>
    </pre>

    <v-btn @click="navigationInnerHTMLTest">Essai</v-btn>
  </section>
</template>

<script>
export default {
  name: 'TextAccess',
  data () {
    return {
      navigationTextContent: `console.log(
   document.querySelector('#main__list .list__element')
     .textContent
 )`,
      navigationInnerHTML: `console.log(
   document.querySelector('#main__list')
     .innerHTML
 )`
    }
  },
  methods: {
    navigationTextContentTest () {
      console.log(
        document.querySelector('#main__list .list__element')
          .textContent
      )
    },
    navigationInnerHTMLTest () {
      console.log(
        document.querySelector('#main__list')
          .innerHTML
      )
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "style";

  .DOM__test {
    grid-row: 1/5;
    grid-column: 2/3;
  }
</style>
