#css__app__component {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.64);
    font-weight: normal;
    text-align: center;
  }

  h3 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: normal;
    text-align: center;
  }

  > .v-input__slider {
    margin-top: 25px;
  }

  #css__color__text {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #css__container__text-decoration, #css__container__text-shadow {
    h2 {
      grid-column: 1/3;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.34);
    }

    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 30px;
    padding: 15px 5px;
    border: 1px solid rgba(0, 0, 0, 0.34);
  }

  #css__container__text-shadow {
    > div:nth-child(2) {
      height: 100%;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div {
        display: flex;
        align-items: center;
      }
    }
  }
}
