<template>
  <div id="css__app__component">
    <v-switch :label="label" v-model="switchValue"/>
    <component :is="componentName"/>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'BackgroundCss',
  components: {
    colorComp: () => import('./Background/Color'),
    imageComp: () => import('./Background/Image')
  },
  data () {
    return {
      switchValue: true,
      componentName: 'colorComp'
    }
  },
  computed: {
    label () {
      return this.switchValue ? 'color' : 'image'
    }
  },
  watch: {
    switchValue () {
      this.componentName = this.switchValue ? 'colorComp' : 'imageComp'

      if (this.componentName === 'imageComp') {
        this.setValue({
          valueName: 'background',
          val: 'rgb(250, 250, 250) url("/img/css/bg-mushroom.png") no-repeat 0 0'
        })
      } else {
        this.setValue({
          valueName: 'background',
          val: 'rgb(250, 250, 250)'
        })
      }
    }
  },
  methods: {
    ...mapActions('Css', [
      'setValue'
    ])
  }
}
</script>

<style lang="scss" scoped>
  @import "style";
</style>
