<template>
  <div id="css__app__component">
    <svg-direction @change-direction="onChangeDirection1"/>
    <margin-padding v-model="css.margin" label="margin"/>
    <svg-direction @change-direction="onChangeDirection2"/>
    <margin-padding v-model="css.padding" label="padding"/>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import svgMixin from '@/components/CSS/Test/svgMixin'

export default {
  name: 'MarginPaddingCss',
  mixins: [svgMixin],
  components: {
    MarginPadding: () => import('@/components/CSS/Test/MarginPadding/MarginPadding'),
    SvgDirection: () => import('@/components/CSS/Test/SVGDirection')
  },
  data () {
    return {
      css: {
        margin: 0,
        padding: 0
      }
    }
  },
  watch: {
    'css.margin' () { this.setValueLocalMargin() },
    'css.padding' () { this.setValueLocalPadding() }
  },
  methods: {
    ...mapActions('Css', [
      'setValue'
    ]),
    setValueLocalMargin () {
      if (this.typeBorder1 === 'All') {
        this.setValue({
          valueName: 'marginTop',
          val: this.css.margin + 'px'
        })
        this.setValue({
          valueName: 'marginBottom',
          val: this.css.margin + 'px'
        })
        this.setValue({
          valueName: 'marginLeft',
          val: this.css.margin + 'px'
        })
        this.setValue({
          valueName: 'marginRight',
          val: this.css.margin + 'px'
        })
      } else {
        this.setValue({
          valueName: 'margin' + this.typeBorder1,
          val: this.css.margin + 'px'
        })
      }
    },
    setValueLocalPadding () {
      if (this.typeBorder2 === 'All') {
        this.setValue({
          valueName: 'paddingTop',
          val: this.css.padding + 'px'
        })
        this.setValue({
          valueName: 'paddingBottom',
          val: this.css.padding + 'px'
        })
        this.setValue({
          valueName: 'paddingLeft',
          val: this.css.padding + 'px'
        })
        this.setValue({
          valueName: 'paddingRight',
          val: this.css.padding + 'px'
        })
      } else {
        this.setValue({
          valueName: 'padding' + this.typeBorder2,
          val: this.css.padding + 'px'
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "style";
</style>
