<template>
  <div id="css__app__component">
    <v-switch v-model="isActive" :label="activeLabel"/>
    <div v-if="isActive">
      <v-radio-group v-model="placement.mode">
        <v-radio label="static" value="static"/>
        <v-radio label="relative" value="relative"/>
        <v-radio label="absolute" value="absolute"/>
        <v-radio label="fixed" value="fixed"/>
        <v-radio label="sticky" value="sticky"/>
      </v-radio-group>

      <div v-if="this.placement.mode === 'relative' || this.placement.mode === 'sticky'" class="css__placement__actions">
        <v-slider min="-50" max="50" step="1" thumb-label="always" v-model="placement.relative.top" label="top"/>
        <v-slider min="-50"
                  max="50"
                  step="1"
                  thumb-label="always"
                  v-model="placement.relative.left"
                  label="left"
                  v-if="this.placement.mode === 'relative'"
        />
      </div>

      <div v-if="this.placement.mode === 'absolute' || this.placement.mode === 'fixed'" class="css__placement__actions">
        <div class="css__placement__action__direction">
          <v-switch label="Activer : top" v-model="placement.absolute.top.display"/>
          <v-slider min="-50"
                    max="50"
                    step="1"
                    thumb-label="always"
                    v-model="placement.absolute.top.value"
                    label="top"
                    v-if="placement.absolute.top.display"
          />
        </div>
        <div class="css__placement__action__direction">
          <v-switch label="Activer : bottom" v-model="placement.absolute.bottom.display"/>
          <v-slider min="-50"
                    max="50"
                    step="1"
                    thumb-label="always"
                    v-model="placement.absolute.bottom.value"
                    label="bottom"
                    v-if="placement.absolute.bottom.display"
          />
        </div>
        <div class="css__placement__action__direction">
          <v-switch label="Activer : left" v-model="placement.absolute.left.display"/>
          <v-slider min="-50"
                    max="50"
                    step="1"
                    thumb-label="always"
                    v-model="placement.absolute.left.value"
                    label="left"
                    v-if="placement.absolute.left.display"
          />
        </div>
        <div class="css__placement__action__direction">
          <v-switch label="Activer : right" v-model="placement.absolute.right.display"/>
          <v-slider min="-50"
                    max="50"
                    step="1"
                    thumb-label="always"
                    v-model="placement.absolute.right.value"
                    label="right"
                    v-if="placement.absolute.right.display"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'PlacementCss',
  data () {
    return {
      isActive: false,
      placement: {
        mode: 'static',
        relative: {
          top: 0,
          left: 0
        },
        absolute: {
          top: {
            display: false,
            value: 0
          },
          bottom: {
            display: false,
            value: 0
          },
          left: {
            display: false,
            value: 0
          },
          right: {
            display: false,
            value: 0
          }
        }
      }
    }
  },
  computed: {
    activeLabel () {
      return 'Mode placement : ' + (this.isActive ? 'Actif' : 'Inactif')
    }
  },
  watch: {
    isActive () {
      this.switchActive(this.isActive)
    },
    'placement.mode' () {
      this.reset()

      this.setPlacementValue({
        valueName: 'position',
        val: this.placement.mode
      })
    },
    'placement.relative.top' () { this.setDirection('relative', 'top') },
    'placement.relative.left' () { this.setDirection('relative', 'left') },
    'placement.absolute.top.display' () {
      this.placement.absolute.top.display
        ? this.setDirection('absolute', 'top')
        : this.setDirection('absolute', 'top', true)
    },
    'placement.absolute.bottom.display' () {
      this.placement.absolute.bottom.display
        ? this.setDirection('absolute', 'bottom')
        : this.setDirection('absolute', 'bottom', true)
    },
    'placement.absolute.left.display' () {
      this.placement.absolute.left.display
        ? this.setDirection('absolute', 'left')
        : this.setDirection('absolute', 'left', true)
    },
    'placement.absolute.right.display' () {
      this.placement.absolute.right.display
        ? this.setDirection('absolute', 'right')
        : this.setDirection('absolute', 'right', true)
    },
    'placement.absolute.top.value' () { this.setDirection('absolute', 'top') },
    'placement.absolute.bottom.value' () { this.setDirection('absolute', 'bottom') },
    'placement.absolute.left.value' () { this.setDirection('absolute', 'left') },
    'placement.absolute.right.value' () { this.setDirection('absolute', 'right') }
  },
  methods: {
    ...mapActions('Css', [
      'setPlacementValue',
      'switchActive'
    ]),
    reset (mode) {
      this.setPlacementValue({
        valueName: 'top',
        val: 'auto'
      })
      this.setPlacementValue({
        valueName: 'bottom',
        val: 'auto'
      })
      this.setPlacementValue({
        valueName: 'left',
        val: 'auto'
      })
      this.setPlacementValue({
        valueName: 'right',
        val: 'auto'
      })
    },
    setDirection (mode, direction, reset = false) {
      let value = mode === 'absolute'
        ? this.placement[mode][direction].value + 'px'
        : this.placement[mode][direction] + 'px'
      this.setPlacementValue({
        valueName: direction,
        val: reset ? 'auto' : value
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "style";

  #css__app__component {
    .v-input--radio-group {
      &::v-deep .v-input--radio-group__input {
        display: flex;
        flex-direction: row;

        .v-radio {
          margin-bottom: 0;
        }
      }
    }

    .css__placement__actions {
      > .v-input__slider {
        margin-top: 25px;
      }
    }
  }
</style>
