<template>
  <div id="css__app__component">
    <v-slider min="0" max="500" step="1" thumb-label="always" v-model="size.height" label="height"/>
    <v-slider min="0" max="545" step="1" thumb-label="always" v-model="size.width" label="width"/>
    <v-radio-group label="overflow" v-model="overflow.y">
      <v-radio label="visible" value="visible"/>
      <v-radio label="hidden" value="hidden"/>
      <v-radio label="scroll" value="scroll"/>
      <v-radio label="auto" value="auto"/>
    </v-radio-group>
    <v-switch v-model="boxSizing" :label="boxSizingLabel"/>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'SizeCss',
  data () {
    return {
      size: {
        height: 120,
        width: 545
      },
      overflow: {
        y: 'auto'
      },
      boxSizing: true
    }
  },
  computed: {
    boxSizingLabel () {
      return 'box-sizing: ' + (this.boxSizing ? 'border-box' : 'content-box')
    }
  },
  watch: {
    'size.height' () {
      this.setValue({
        valueName: 'height',
        val: this.size.height + 'px'
      })
    },
    'size.width' () {
      this.setValue({
        valueName: 'width',
        val: this.size.width + 'px'
      })
    },
    boxSizing (newValue) {
      newValue
        ? this.setValue({
          valueName: 'boxSizing',
          val: 'border-box'
        })
        : this.setValue({
          valueName: 'boxSizing',
          val: 'content-box'
        })
    },
    'overflow.y' () {
      if (this.overflow.y === 'visible') {
        this.setValue({
          valueName: 'overflowY',
          val: 'visible'
        })
        this.setValue({
          valueName: 'overflowY',
          val: 'visible'
        })
        this.setValue({
          valueName: 'overflowY',
          val: 'visible'
        })
      } else {
        this.setValue({
          valueName: 'overflowY',
          val: 'hidden'
        })
        this.setValue({
          valueName: 'overflowY',
          val: 'hidden'
        })
        this.setValue({
          valueName: 'overflowY',
          val: this.overflow.y
        })
      }
    }
  },
  methods: {
    ...mapActions('Css', [
      'setValue'
    ])
  }
}
</script>

<style lang="scss" scoped>
  @import "style";
</style>
