<template>
  <div id="css__app__component">
    <div id="css__color__text">
      <h2>color</h2>
      <v-color-picker v-model="css.color"/>
    </div>
    <v-select :items="fontFamilyValues" v-model="css.fontFamily" label="font-family"/>
    <v-slider min="1" max="50" step="1" thumb-label="always" v-model="css.fontSize" label="font-size"/>
    <v-select :items="fontStyleValues" v-model="css.fontStyle" label="font-style"/>
    <v-switch v-model="css.fontVariant" label="font-variant"/>
    <v-select :items="fontWeightValues" v-model="css.fontWeight" label="font-weight"/>
    <v-slider min="0" max="15" step="1" thumb-label="always" v-model="css.letterSpacing" label="letter-spacing"/>
    <v-slider min="1" max="50" step="1" thumb-label="always" v-model="css.lineHeight" label="line-height"/>
    <v-select :items="textAlignValues" v-model="css.textAlign" label="text-align"/>
    <div id="css__container__text-decoration">
      <h2>text-decoration</h2>
      <div>
        <h3>text-decoration-line</h3>
        <v-switch v-model="css.textDecoration.underline" label="underline"/>
        <v-switch v-model="css.textDecoration.overline" label="overline"/>
        <v-switch v-model="css.textDecoration.lineThrough" label="line-Through"/>
        <v-select :items="textDecorationStyleValues" v-model="css.textDecoration.style" label="text-decoration-style"/>
      </div>
      <div>
        <h3>text-decoration-color</h3>
        <v-color-picker v-model="css.textDecoration.color"/>
      </div>
    </div>
    <v-slider min="0" max="100" step="1" thumb-label="always" v-model="css.textIndent" label="text-indent"/>
    <div id="css__container__text-shadow">
      <h2>text-shadow</h2>
      <div>
        <v-slider min="0" max="15" step="1" thumb-label="always" v-model="css.textShadow.xShadow" label="x-shadow"/>
        <v-slider min="0" max="15" step="1" thumb-label="always" v-model="css.textShadow.yShadow" label="y-shadow"/>
        <v-slider min="0"
                  max="15"
                  step="1"
                  thumb-label="always"
                  v-model="css.textShadow.blurRadius"
                  label="blur-radius"/>
      </div>
      <div>
        <v-color-picker v-model="css.textShadow.color"/>
      </div>
    </div>
    <v-select :items="textTransformValues" v-model="css.textTransform" label="text-transform"/>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'TextCss',
  data () {
    return {
      css: {
        color: '#000000',
        fontFamily: 'Raleway',
        fontSize: 16,
        fontStyle: 'normal',
        fontVariant: false,
        fontWeight: 'normal',
        letterSpacing: 'normal',
        lineHeight: 24,
        textAlign: 'left',
        textDecoration: {
          underline: false,
          overline: false,
          lineThrough: false,
          style: 'solid',
          color: '#000000'
        },
        textIndent: 0,
        textShadow: {
          xShadow: 0,
          yShadow: 0,
          blurRadius: 0,
          color: '#000000'
        },
        textTransform: 'none'
      },
      fontFamilyValues: ['Turret Road', 'Chilanka', 'Playfair Display', 'Vibes', 'Raleway'],
      fontStyleValues: ['normal', 'italic', 'oblique'],
      fontWeightValues: [
        'normal',
        'bold',
        'bolder',
        'lighter',
        '100',
        '200',
        '300',
        '400',
        '500',
        '600',
        '700',
        '800',
        '900'
      ],
      textAlignValues: ['left', 'center', 'right', 'justify'],
      textDecorationStyleValues: ['solid', 'double', 'dotted', 'dashed', 'wavy'],
      textTransformValues: ['none', 'capitalize', 'uppercase', 'lowercase']
    }
  },
  watch: {
    'css.color' () { this.setValue({ valueName: 'color', val: this.css.color }) },
    'css.fontFamily' () { this.setValue({ valueName: 'fontFamily', val: this.css.fontFamily }) },
    'css.fontSize' () { this.setValue({ valueName: 'fontSize', val: this.css.fontSize + 'px' }) },
    'css.fontStyle' () { this.setValue({ valueName: 'fontStyle', val: this.css.fontStyle }) },
    'css.fontVariant' () {
      this.setValue({
        valueName: 'fontVariant',
        val: this.css.fontVariant ? 'small-caps' : 'normal'
      })
    },
    'css.fontWeight' () { this.setValue({ valueName: 'fontWeight', val: this.css.fontWeight }) },
    'css.letterSpacing' () {
      this.setValue({
        valueName: 'letterSpacing',
        val: this.css.letterSpacing !== 0 ? this.css.letterSpacing + 'px' : 'normal'
      })
    },
    'css.lineHeight' () {
      this.setValue({
        valueName: 'lineHeight',
        val: this.css.lineHeight + 'px'
      })
    },
    'css.textAlign' () { this.setValue({ valueName: 'textAlign', val: this.css.textAlign }) },
    'css.textDecoration.underline' () { this.setTextDecoration() },
    'css.textDecoration.overline' () { this.setTextDecoration() },
    'css.textDecoration.lineThrough' () { this.setTextDecoration() },
    'css.textDecoration.style' () { this.setTextDecoration() },
    'css.textDecoration.color' () { this.setTextDecoration() },
    'css.textIndent' () {
      this.setValue({
        valueName: 'textIndent',
        val: this.css.textIndent + 'px'
      })
    },
    'css.textShadow.xShadow' () { this.setTextShadow() },
    'css.textShadow.yShadow' () { this.setTextShadow() },
    'css.textShadow.blurRadius' () { this.setTextShadow() },
    'css.textShadow.color' () { this.setTextShadow() },
    'css.textTransform' () {
      this.setValue({
        valueName: 'textTransform',
        val: this.css.textTransform
      })
    }
  },
  methods: {
    ...mapActions('Css', [
      'setValue'
    ]),
    setTextDecoration () {
      this.css.textDecoration.underline || this.css.textDecoration.overline || this.css.textDecoration.lineThrough
        ? this.setValue({
          valueName: 'textDecoration',
          val: (this.css.textDecoration.underline ? 'underline' : '') + ' ' +
            (this.css.textDecoration.overline ? 'overline' : '') + ' ' +
            (this.css.textDecoration.lineThrough ? 'line-through' : '') + ' ' +
            (this.css.textDecoration.style) + ' ' +
            (this.css.textDecoration.color)
        })
        : this.setValue({
          valueName: 'textDecoration',
          val: 'none'
        })
    },
    setTextShadow () {
      this.css.textShadow.xShadow !== 0 || this.css.textShadow.yShadow !== 0
        ? this.setValue({
          valueName: 'textShadow',
          val: this.css.textShadow.xShadow + 'px' + ' ' +
            this.css.textShadow.yShadow + 'px' + ' ' +
            this.css.textShadow.blurRadius + 'px' + ' ' +
            this.css.textDecoration.color
        })
        : this.setValue({
          valueName: 'textShadow',
          val: 'none'
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "style";
</style>
