& {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;

  aside {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 10px;

    div {
      margin: 15px 0;

      p {
        margin: 0;
        font-size: 16px;
      }

      span {
        font-size: 16px;

        &.request__verb {
          color: red;
          font-weight: bold;
        }

        &.request__url {
          color: green;
          font-weight: bold;
        }

        &.request__version {
          color: blue;
          font-weight: bold;
        }

        &.italic {
          font-style: italic;
        }
      }
    }
  }

  #post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;

    article {
      display: flex;
      flex-direction: column;
      margin: 0;
      box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.2), -4px 8px 10px rgba(0, 0, 0, 0.2);
      padding: 10px;
      box-sizing: border-box;

      h1 {
        font-size: 18px;
      }

      .legend {
        font-size: 14px;
        color: #222222;
        font-style: italic;
      }

      p {
        font-size: 16px;
      }
    }
  }
}
