section {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px; }
  section aside {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 10px; }
    section aside div {
      margin: 15px 0; }
      section aside div p {
        margin: 0;
        font-size: 16px; }
      section aside div span {
        font-size: 16px; }
        section aside div span.request__verb {
          color: red;
          font-weight: bold; }
        section aside div span.request__url {
          color: green;
          font-weight: bold; }
        section aside div span.request__version {
          color: blue;
          font-weight: bold; }
        section aside div span.italic {
          font-style: italic; }
  section #post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0; }
    section #post article {
      display: flex;
      flex-direction: column;
      margin: 0;
      box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.2), -4px 8px 10px rgba(0, 0, 0, 0.2);
      padding: 10px;
      box-sizing: border-box; }
      section #post article h1 {
        font-size: 18px; }
      section #post article .legend {
        font-size: 14px;
        color: #222222;
        font-style: italic; }
      section #post article p {
        font-size: 16px; }

/*# sourceMappingURL=style.css.map */
