<template>
  <div id="client__server__container">
    <router-link :to="{ name: 'modelClientServer-clientServer-client' }">
      <div id="client"
           :class="{ 'active-section': routeName === 'modelClientServer-clientServer-client' }"
      >
        <h1>Client</h1>
        <div>
          <v-icon>desktop_mac</v-icon>
          <v-icon>computer</v-icon>
          <v-icon>tablet_android</v-icon>
          <v-icon>smartphone</v-icon>
        </div>
      </div>
    </router-link>

    <router-link :to="{ name: 'modelClientServer-clientServer-internet' }">
      <div id="internet"
           :class="{ 'active-section': routeName === 'modelClientServer-clientServer-internet' }"
      >
        <h1>Internet</h1>
        <div>
          <v-icon>wifi</v-icon>
        </div>
      </div>
    </router-link>

    <router-link :to="{ name: 'modelClientServer-clientServer-server' }">
      <div id="server"
           :class="{ 'active-section': routeName === 'modelClientServer-clientServer-server' }"
      >
        <h1>Server</h1>
        <div>
          <v-icon>dns</v-icon>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'NavClientServer',
  computed: {
    routeName () {
      return this.$route.name
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/general";

  #client__server__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid black;
    border-left: 1px solid black;

    @media all and (max-width: $s) {
      grid-template-columns: 1fr;
      width: 100%;
    }

    a {
      text-decoration: none;
      color: black;

      @media all and (max-width: $s) {
        border: 1px solid black;
      }

      > div {
        border-right: 1px solid black;

        &.active-section {
          background-color: #ebebeb;
        }

        h1 {
          text-align: center;

          @media all and (max-width: $s) {
            font-size: 20px;
          }
        }

        div {
          display: flex;
          justify-content: center;
          border-top: 1px solid black;
          border-bottom: 1px solid black;

          .v-icon {
            margin: 15px;
            font-size: 60px;

            @media all and (max-width: $s) {
              margin: 10px;
              font-size: 40px;
            }
          }
        }
      }
    }
  }
</style>
