<template>
  <section>
    <aside>
      <div>
        <span class="request__verb">DELETE</span>&#160;
        <span class="request__url">/articles/{{ postId }}</span>&#160;
        <span class="request__version">HTTP/1.1</span>
      </div>
      <div>
        <p>Accept: application/json</p>
        <p>Content-Type: application/json;charset=UTF-8</p>
        <p>Origin: http://localhost:8080</p>
      </div>
      <div>
        <span class="italic">no body</span>
      </div>
    </aside>
    <section id="post">
      <v-select label="Liste des articles"
                :items="posts"
                item-text="title"
                item-value="id"
                v-model="postId"
      />
      <v-btn @click="onClick">Supprimer</v-btn>
    </section>
  </section>
</template>

<script>
export default {
  name: 'RequestExampleGetAll',
  data () {
    return {
      /**
       * @type {post[]}
       */
      posts: [],
      postId: null
    }
  },
  async created () {
    await this.axios({
      method: 'GET',
      url: '/articles'
    }).then(response => {
      this.posts = response.data.items
    })
  },
  methods: {
    async onClick () {
      await this.axios({
        method: 'DELETE',
        url: `/articles/${this.postId}`
      }).then(response => {
        if (response.status === 204) {
          this.$router.push({ name: 'modelClientServer-clientServer-requestResponse-requestExamples-getAll' })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
 section{
   @import "styleRequest";
 }
</style>
