<template>
  <section>
    <aside>
      <div>
        <span class="request__verb">POST</span>&#160;
        <span class="request__url">/articles</span>&#160;
        <span class="request__version">HTTP/1.1</span>
      </div>
      <div>
        <p>Accept: application/json</p>
        <p>Content-Type: application/json;charset=UTF-8</p>
        <p>Origin: http://localhost:8080</p>
      </div>
      <div>
        <p>{</p>
        <p>&#160;&#160;"title": {{ form.title !== '' ? `"${form.title}"` : '\' \'' }}</p>
        <p>&#160;&#160;"content": {{ form.content !== '' ? `"${form.content}"` : '\' \'' }}</p>
        <p>&#160;&#160;"userId": {{ form.userId !== null ? `${form.userId}` : 'null' }}</p>
        <p>}</p>
      </div>
    </aside>
  <form novalidate>
    <v-text-field label="Titre de l'article" v-model="form.title"/>
    <v-textarea label="Contenu de l'article" v-model="form.content"/>
    <v-select label="Auteur"
              :items="users"
              item-text="username"
              item-value="id"
              v-model="form.userId"
    />
    <v-btn color="primary" @click.stop="onSubmit">Enregistrer</v-btn>
  </form>
  </section>
</template>

<script>
export default {
  name: 'RequestExamplePost',
  data () {
    return {
      form: {
        title: '',
        content: '',
        userId: null
      },
      /**
       * @typedef {Object} User
       * @property {Number} id
       * @property {String} firstName
       * @property {String} lastName
       * @property {String} username
       * @property {String} mail
       *
       * @type {User[]}
       */
      users: []
    }
  },
  async created () {
    await this.$axios({
      method: 'GET',
      url: '/users'
    }).then(response => {
      this.users = response.data.items
    })
  },
  methods: {
    async onSubmit () {
      await this.axios({
        method: 'POST',
        url: '/articles',
        data: this.form
      }).then(response => {
        this.form = {
          title: '',
          content: '',
          userId: null
        }

        if (response.status === 201) {
          this.$router.push({ name: 'modelClientServer-clientServer-requestResponse-requestExamples-getAll' })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  section{
    @import "styleRequest";
  }
</style>
