<template>
  <section>
    <aside>
      <div>
        <span class="request__verb">GET</span>&#160;
        <span class="request__url">/articles</span>&#160;
        <span class="request__version">HTTP/1.1</span>
      </div>
      <div>
        <p>Accept: application/json</p>
        <p>Content-Type: application/json;charset=UTF-8</p>
        <p>Origin: http://localhost:8080</p>
      </div>
      <div>
        <span class="italic">no body</span>
      </div>
    </aside>
    <section id="post">
      <router-link v-for="post in posts" :key="post.id" :to="{ name: 'modelClientServer-clientServer-requestResponse-requestExamples-get', params: {id: post.id} }">
        <article>
          <h1 @click="onClick(post.id)">{{ post.title }}</h1>
          <p class="legend">Écrit par {{ post.user.username }}</p>

          <p>{{ post.content | excerptCustom }}</p>
        </article>
      </router-link>
    </section>
  </section>
</template>

<script>
export default {
  name: 'RequestExampleGetAll',
  data () {
    return {
      /**
       * @type {post[]}
       */
      posts: []
    }
  },
  async created () {
    await this.axios({
      method: 'GET',
      url: '/articles'
    }).then(response => {
      this.posts = response.data.items
    })
  },
  filters: {
    excerptCustom: function (value) {
      if (value.length < 30) return value

      return value.slice(0, 50) + '...'
    }
  },
  methods: {
    onClick (id) {
      this.$emit('get-detail', id)
    }
  }
}
</script>

<style lang="scss" scoped>
  section{
    @import "styleRequest";

    a {
      text-decoration: none;
      color: black;
    }
  }
</style>
