<template>
  <section>
    <aside>
      <div>
        <span v-if="titleIsDifferent && contentIsDifferent && authorIsDifferent">
          <span class="request__verb">PUT</span>&#160;
        </span>
        <span v-else><span class="request__verb">PATCH</span>&#160;</span>
        <span class="request__url">/articles{{ postId !== null ? '/' + postId : '' }}</span>&#160;
        <span class="request__version">HTTP/1.1</span>
      </div>
      <div>
        <p>Accept: application/json</p>
        <p>Content-Type: application/json;charset=UTF-8</p>
        <p>Origin: http://localhost:8080</p>
      </div>
      <div>
        <p>{</p>
        <p v-if="titleIsDifferent">&#160;&#160;"title": {{ post.title }}</p>
        <p v-if="contentIsDifferent">&#160;&#160;"content": {{ post.content }}</p>
        <p v-if="authorIsDifferent">&#160;&#160;"userId": {{ post.user.id }}</p>
        <p>}</p>
      </div>
    </aside>
    <article>
      <div v-if="post === null">
        <v-select label="Articles"
                  :items="posts"
                  v-model="postId"
                  item-value="id"
                  item-text="title"
        />
        <v-btn color="primary" @click.stop="onSelect">Sélectionner</v-btn>
      </div>

      <div v-else>
        <v-text-field label="Titre" v-model="post.title"/>
        <v-textarea label="Contenu de l'article" v-model="post.content"/>
        <v-select label="Auteur"
                  :items="users"
                  item-value="id"
                  item-text="username"
                  v-model="post.user.id"
        />
        <v-btn color="primary" @click.stop="onUpdate">Modifier</v-btn>
      </div>
    </article>
  </section>
</template>

<script>
export default {
  name: 'RequestExamplePatch',
  data () {
    return {
      /**
       * @type {post[]}
       */
      posts: [],
      /**
       * @type {post|null}
       */
      post: null,
      postId: null,
      users: []
    }
  },
  computed: {
    titleIsDifferent () {
      if (this.postId !== null && this.post !== null) {
        return this.getPostSaved().title !== this.post.title
      }
      return false
    },
    contentIsDifferent () {
      if (this.postId !== null && this.post !== null) {
        return this.getPostSaved().content !== this.post.content
      }
      return false
    },
    authorIsDifferent () {
      if (this.postId !== null && this.post !== null) {
        return this.getPostSaved().user.id !== this.post.user.id
      }
      return false
    }
  },
  async created () {
    await this.axios({
      method: 'GET',
      url: '/articles'
    }).then(response => {
      this.posts = response.data.items
    })

    await this.axios({
      method: 'GET',
      url: '/users'
    }).then(response => {
      this.users = response.data.items
    })
  },
  methods: {
    onSelect () {
      this.post = Object.assign({}, this.posts.find(post => post.id === this.postId))
      this.post.user = Object.assign({}, this.post.user)
    },
    getPostSaved () {
      return this.posts.find(post => post.id === this.postId)
    },
    async onUpdate () {
      if (this.titleIsDifferent && this.contentIsDifferent && this.authorIsDifferent) {
        await this.axios({
          url: `/articles/${this.postId}`,
          method: 'PUT',
          data: {
            title: this.post.title,
            content: this.post.content,
            userId: this.post.user.id
          }
        })
      } else {
        let post = {}
        if (this.titleIsDifferent) post.title = this.post.title
        if (this.contentIsDifferent) post.content = this.post.content
        if (this.authorIsDifferent) post.userId = this.post.user.id

        await this.axios({
          url: `/articles/${this.postId}`,
          method: 'PATCH',
          data: post
        }).then(response => {
          if (response.status === 200) {
            this.$router.push({ name: 'modelClientServer-clientServer-requestResponse-requestExamples-getAll' })
          }
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  section{
    @import "styleRequest";
  }
</style>
