<template>
  <nav>
    <ul>
      <li class="list__title">Javascript et le web</li>
      <router-link :to="{ name: 'js-web-dom' }">
        <li :class="{ 'active-section': activeRoute('js-web-dom') }">
          <v-icon size="50">description</v-icon>
          Le DOM
        </li>
      </router-link>
      <router-link :to="{ name: 'js-web-event' }">
        <li :class="{ 'active-section': activeRoute('js-web-event') }">
          <v-icon size="50">event</v-icon>
          Les évènements
        </li>
      </router-link>
      <router-link :to="{ name: 'js-web-ajax' }">
        <li :class="{ 'active-section': activeRoute('js-web-ajax') }">
          <v-icon size="50">sync_alt</v-icon>
          AJAX
        </li>
      </router-link>
      <router-link :to="{ name: 'js-web-regex' }">
        <li :class="{ 'active-section': activeRoute('js-web-regex') }">
          <v-icon size="50">text_rotation_none</v-icon>
          Regex
        </li>
      </router-link>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'NavGeneral',
  methods: {
    activeRoute (routeName) {
      return this.$route.name === routeName
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/html/homeStyle";

  section {
    nav {
      ul {
        grid-template-columns: repeat(4, 1fr);

        li.list__title {
          grid-column: 1/5;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }
</style>
