<template>
  <nav>
    <ul>
      <li class="list__title">Structure</li>
      <router-link :to="{ name: 'html-structure-structure' }">
        <li :class="{ 'active-section': activeRoute('html-structure-structure') }">
          <v-icon size="50">vertical_split</v-icon>
          Structure
        </li>
      </router-link>
      <router-link :to="{ name: 'html-structure-cutting' }">
        <li :class="{ 'active-section': activeRoute('html-structure-cutting') }">
          <v-icon size="50">view_quilt</v-icon>
          Découpage
        </li>
      </router-link>
      <router-link :to="{ name: 'html-structure-accessibility' }">
        <li :class="{ 'active-section': activeRoute('html-structure-accessibility') }">
          <v-icon size="50">accessible</v-icon>
          Accessibilité
        </li>
      </router-link>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'NavStructure',
  methods: {
    activeRoute (routeName) {
      return this.$route.name === routeName
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/html/homeStyle";

  section {
    nav {
      ul {
        grid-template-columns: repeat(3, 1fr);

        li.list__title {
          grid-column: 1/4;
        }
      }
    }
  }
</style>
