<template>
<div>
<v-color-picker v-model="colorSelected"/>
</div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'BGColor',
  data () {
    return {
      colorSelected: '#fafafa'
    }
  },
  watch: {
    colorSelected () {
      this.setValue({
        valueName: 'background',
        val: this.colorSelected
      })
    }
  },
  methods: {
    ...mapActions('Css', [
      'setValue'
    ])
  }
}
</script>

<style scoped>

</style>
