<template>
<div id="css__bg__image">
  <v-radio-group v-model="image">
    <v-radio value="mushroom">
      <template v-slot:label>
        <img src="/img/css/bg-mushroom.png" alt="Champignon de mario"/>
      </template>
    </v-radio>
    <v-radio value="flower">
      <template v-slot:label>
        <img src="/img/css/bg-flower.png" alt="Champignon de mario"/>
      </template>
    </v-radio>
    <v-radio value="star">
      <template v-slot:label>
        <img src="/img/css/bg-star.png" alt="Champignon de mario"/>
      </template>
    </v-radio>
  </v-radio-group>

  <v-switch label="repeat" v-model="repeat.display"/>
  <v-switch label="repeat-x" v-if="repeat.display" v-model="repeat.x"/>
  <v-switch label="repeat-y" v-if="repeat.display" v-model="repeat.y"/>

  <div class="css__bg__placement">
    <v-switch label="Placement X fixe" v-model="placement.x.fixe"/>
    <v-radio-group v-model="placement.x.fixeName" v-if="placement.x.fixe">
      <v-radio label="left" value="left"/>
      <v-radio label="center" value="center"/>
      <v-radio label="right" value="right"/>
    </v-radio-group>
    <v-slider min="0" max="250" step="1" thumb-label="always" label="x" v-model="placement.x.value" v-else/>
  </div>

  <div class="css__bg__placement">
    <v-switch label="Placement Y fixe" v-model="placement.y.fixe"/>
    <v-radio-group v-model="placement.y.fixeName" v-if="placement.y.fixe">
      <v-radio label="top" value="top"/>
      <v-radio label="center" value="center"/>
      <v-radio label="bottom" value="bottom"/>
    </v-radio-group>
    <v-slider min="0" max="250" step="1" thumb-label="always" label="y" v-model="placement.y.value" v-else/>
  </div>
</div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'BGImage',
  data () {
    return {
      image: 'mushroom',
      repeat: {
        display: false,
        x: false,
        y: false
      },
      placement: {
        x: {
          fixe: false,
          fixeName: 'left',
          value: 0
        },
        y: {
          fixe: false,
          fixeName: 'top',
          value: 0
        }
      }
    }
  },
  watch: {
    image () { this.setValueLocal() },
    'repeat.x' () { this.setValueLocal() },
    'repeat.y' () { this.setValueLocal() },
    'repeat.display' (newValue) {
      if (!newValue) {
        this.repeat.x = false
        this.repeat.y = false
      }
    },
    'placement.x.fixe' (newValue) {
      newValue ? this.placement.x.value = 0 : this.placement.x.fixeName = 'left'
      this.setValueLocal()
    },
    'placement.y.fixe' (newValue) {
      newValue ? this.placement.y.value = 0 : this.placement.y.fixeName = 'top'
      this.setValueLocal()
    },
    'placement.x.value' () { this.setValueLocal() },
    'placement.x.fixeName' () { this.setValueLocal() },
    'placement.y.value' () { this.setValueLocal() },
    'placement.y.fixeName' () { this.setValueLocal() }
  },
  methods: {
    ...mapActions('Css', [
      'setValue'
    ]),
    setValueLocal () {
      let repeat = this.repeat.x && this.repeat.y
        ? 'repeat'
        : this.repeat.x && !this.repeat.y
          ? 'repeat-x'
          : !this.repeat.x && this.repeat.y
            ? 'repeat-y'
            : 'no-repeat'

      let x = this.placement.x.fixe ? this.placement.x.fixeName : (this.placement.x.value + 'px')
      let y = this.placement.y.fixe ? this.placement.y.fixeName : (this.placement.y.value + 'px')

      this.setValue({
        valueName: 'background',
        val: `rgb(250, 250, 250) url("/img/css/bg-${this.image}.png") ${repeat} ${x} ${y}`
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  #css__bg__image {
    .v-input--radio-group {
      &::v-deep .v-input--radio-group__input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        label {
          img {
            width: 50px;
          }
        }
      }
    }

    > .v-input__slider {
      margin-top: 25px;
    }

    .css__bg__placement {
      > .v-input__slider {
        margin-top: 25px;
      }
    }
  }
</style>
