<template>
  <article>
    <img src="../../../assets/img/server/page_dynamique.png" alt="Image de page dynamique"/>
  </article>
</template>

<script>
export default {
  name: 'Animated'
}
</script>

<style lang="scss" scoped>
 @import "style";
</style>
