<template>
  <article>
    <img src="../../../assets/img/server/app_lourde.png" alt="Image de page avec un application front lourde"/>
  </article>
</template>

<script>
export default {
  name: 'AppFront'
}
</script>

<style lang="scss" scoped>
 @import "style";
</style>
