<template>
  <article>
    <img src="../../../assets/img/server/page_simple.png" alt="Image de page simple"/>
  </article>
</template>

<script>
export default {
  name: 'Simple'
}
</script>

<style lang="scss" scoped>
  @import "style";
</style>
