<template>
<section id="section__request__examples">
  <v-simple-table>
    <thead>
    <tr>
      <th scope="col">Action</th>
      <th scope="col">Verbe</th>
      <th scope="col">Exemple</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th scope="row"><span class="action__first__letter">C</span>reate</th>
      <td>
        <router-link :to="{ name: 'modelClientServer-clientServer-requestResponse-requestExamples-post' }">
          <v-btn text @click="componentName = 'post'">POST</v-btn>
        </router-link>
      </td>
      <td>Créer un article : <span class="example__link">http://www.monsupersite.fr/articles/</span></td>
    </tr>

    <tr>
      <th scope="row"><span class="action__first__letter">R</span>ead</th>
      <td>
        <router-link :to="{ name: 'modelClientServer-clientServer-requestResponse-requestExamples-getAll' }">
          <v-btn text @click="componentName = 'getAll'">GET</v-btn>
        </router-link>
      </td>
      <td>
        Récupérer des articles :<br/>
        <ul>
          <li><span class="example__link">http://www.monsupersite.fr/articles/</span></li>
          <li><span class="example__link">http://www.monsupersite.fr/articles/2/</span></li>
        </ul>
      </td>
    </tr>

    <tr>
      <th scope="rowgroup" rowspan="2"><span class="action__first__letter">U</span>pdate</th>
      <td>
        <router-link :to="{ name: 'modelClientServer-clientServer-requestResponse-requestExamples-patchPut' }">
          <v-btn text @click="componentName = 'patch'">PATCH</v-btn>
        </router-link>
      </td>
      <td>Modifier un article : <span class="example__link">http://www.monsupersite.fr/articles/2/</span></td>
    </tr>

    <tr>
      <td>
        <router-link :to="{ name: 'modelClientServer-clientServer-requestResponse-requestExamples-patchPut' }">
          <v-btn text>PUT</v-btn>
        </router-link>
      </td>
      <td>Remplacer un article : <span class="example__link">http://www.monsupersite.fr/articles/2/</span></td>
    </tr>

    <tr>
      <th scope="row"><span class="action__first__letter">D</span>elete</th>
      <td>
        <router-link :to="{ name: 'modelClientServer-clientServer-requestResponse-requestExamples-delete' }">
          <v-btn text @click="componentName = 'delete'">DELETE</v-btn>
        </router-link>
      </td>
      <td>Supprimer un article : <span class="example__link">http://www.monsupersite.fr/articles/2/</span></td>
    </tr>
    </tbody>
  </v-simple-table>

  <router-view/>
</section>
</template>

<script>
export default {
  name: 'RequestExamples',
  data () {
    return {
      componentName: '',
      postId: null
    }
  },
  computed: {
    compName () {
      return this.componentName
    }
  },
  methods: {
    onDetail (id) {
      this.postId = id
      this.componentName = 'get'
    }
  }
}
</script>

<style lang="scss" scoped>
#section__request__examples {
  display: flex;
  flex-direction: column;

  #request {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/4;
    position: relative;
    border: 1px solid black;
    margin-bottom: 20px;

    svg {
      margin: 0 30px;
    }

    .v-icon {
      margin: 15px;
      font-size: 60px;
    }

    .textField {
      position: absolute;
      z-index: 500;
      height: 50px;
      width: 100px;
      border: 1px solid black;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
      }
    }
  }

  table {
    tbody {
      tr {
        &:not(:last-child) th {
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }

        th {
          text-transform: uppercase;
          font-weight: normal;

          .action__first__letter {
            font-weight: bold;
            font-size: 25px;
          }
        }

        td {
          a {
            text-decoration: none;
            color: black;

            .v-btn {
              font-size: 18px;

            }
          }

          .example__link {
            color: #07C;
            text-decoration: underline;
          }
        }

        th, td {
          font-size: 18px;
        }
      }
    }
  }
}
</style>
