<template>
  <section>
    <v-simple-table>
      <tbody>
      <tr>
        <td>
          <span class="request__verb">Verb</span>, <span class="request__url">URL</span>, <span
          class="request__version">Version</span>
        </td>
        <td>
          <svg width="30" height="50">
            <path d="M0,24h28l-10,-10h2l10,10v2l-10,10h-2l10,-10h-28Z"/>
          </svg>
        </td>
        <td>
          <span class="request__verb">POST</span>&#160;
          <span class="request__url">/users/</span>&#160;
          <span class="request__version">HTTP/1.1</span>
        </td>
      </tr>
      <tr>
        <td>Request headers</td>
        <td>
          <svg width="30" height="50">
            <path d="M0,24h28l-10,-10h2l10,10v2l-10,10h-2l10,-10h-28Z"/>
          </svg>
        </td>
        <td>
          <ul>
            <li><span class="header__header">Host:</span> developer.mozilla.org</li>
            <li><span class="header__header">Authorization:</span> Basic YWxhZGRpbjpvcGVuc2VzYW1l</li>
            <li><span class="header__header">User-Agent:</span> Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:50.0) Gecko/20100101 Firefox/50.0</li>
            <li><span class="header__header">Accept:</span> text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8</li>
            <li><span class="header__header">Cache-Control:</span> max-age=0</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Request body</td>
        <td>
          <svg width="30" height="50">
            <path d="M0,24h28l-10,-10h2l10,10v2l-10,10h-2l10,-10h-28Z"/>
          </svg>
        </td>
        <td>username=JohnDoe&password=12345678</td>
      </tr>
      </tbody>
    </v-simple-table>

    <span class="reference">
      <a href="https://tools.ietf.org/html/rfc2616#section-5">RFC 2616 - Section 5</a>
    </span>

    <v-btn color="primary" @click="onNavigate" large>
      Exemples de requête
      <v-icon>navigate_next</v-icon>
    </v-btn>
  </section>
</template>

<script>
export default {
  name: 'Request',
  methods: {
    onNavigate () {
      this.$router.push({ name: 'modelClientServer-clientServer-requestResponse-requestExamples' })
    }
  }
}
</script>

<style lang="scss" scoped>
  section {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    table {
      td {
        font-size: 18px;

        .request__verb {
          color: red;
          font-weight: bold;
        }

        .request__url {
          color: green;
          font-weight: bold;
        }

        .request__version {
          color: blue;
          font-weight: bold;
        }

        ul {
          padding-left: 0;

          li {
            list-style: none;

            .header__header {
              font-style: italic;
              font-weight: bold;
            }
          }
        }
      }
    }

    .v-btn {
      margin-top: 20px;
      font-weight: bold;
      font-size: 20px;
    }

    .reference {
      text-align: right;
      font-style: italic;
      margin-top: 20px;
    }
  }
</style>
