<template>
<div>
  <v-carousel :show-arrows="true"
              :hide-delimiters="true"
              next-icon="navigate_next"
              prev-icon="navigate_before"
              delimiter-icon="fiber_manual_record"
              height="750"
  >
    <v-carousel-item
      v-for="(color, index) in colors"
      :key="color"
    >
      <component :is="componentName(index)" :color="color"></component>
    </v-carousel-item>
  </v-carousel>
</div>
</template>

<script>
export default {
  name: 'ResponseExamples',
  components: {
    r100: () => import('@/components/ModelClientServer/RequestResponse/Response100'),
    r200: () => import('@/components/ModelClientServer/RequestResponse/Response200'),
    r300: () => import('@/components/ModelClientServer/RequestResponse/Response300'),
    r400: () => import('@/components/ModelClientServer/RequestResponse/Response400'),
    r500: () => import('@/components/ModelClientServer/RequestResponse/Response500')
  },
  data () {
    return {
      colors: [
        'primary',
        'success',
        'error',
        'danger',
        'brown'
      ]
    }
  },
  methods: {
    componentName (index) {
      return `r${index + 1}00`
    }
  }
}
</script>

<style lang="scss" scoped>
div {
  header {
    #response {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 1/4;
      position: relative;
      border: 1px solid black;
      margin-bottom: 20px;

      svg {
        margin: 0 30px;
      }

      .v-icon {
        margin: 15px;
        font-size: 60px;
      }

      .textField {
        position: absolute;
        z-index: 500;
        height: 50px;
        width: 100px;
        border: 1px solid black;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          color: red;
        }
      }
    }
  }
}
</style>
