<template>
  <v-app id="app">
    <v-btn id="menu__btn" fab @click.stop="drawer = !drawer">
      <v-icon>menu</v-icon>
    </v-btn>

    <nav-bar @click="onClick" :class="{ 'navVisible': drawer }"/>

    <div id="container">
      <router-view/>
    </div>

    <v-btn v-if="position !== 0" color="primary"
           id="button__top__scroll"
           fab
           small
           @click="onScroll"
    >
      <v-icon>keyboard_arrow_up</v-icon>
    </v-btn>
  </v-app>
</template>

<script>
import NavBar from '@/components/general/nav'

export default {
  name: 'App',
  components: { NavBar },
  data () {
    return {
      drawer: false,
      positionY: 0
    }
  },
  created () {
    window.addEventListener('scroll', event => {
      this.positionY = window.scrollY
    })
  },
  computed: {
    position () {
      return this.positionY
    }
  },
  methods: {
    onClick () {
      this.drawer = false
    },
    onScroll () {
      window.scrollTo({ top: 0, behavior: 'smooth' })
    }
  }
}
</script>

<style lang="scss">
  @import "assets/style/general";
  html {
    body {

      p {
        font-size: 20px;
      }
      #app {
        font-family: 'Raleway', sans-serif;
        background-color: #f0f0f0;

        #container {
          width: $l;
          margin: 0 auto;
          background-color: #fafafa;
          padding: 10px 5px;
          min-height: 100vh;
        }

        @media all and (max-width: $l) and (min-width: $m) {
          #container {
            width: $m;
          }
        }

        @media all and (max-width: $m) and (min-width: $s) {
          #container {
            width: $s;
          }
        }

        @media all and (max-width: $s) {
          #container {
            width: 100vw;
            margin-top: 80px;
          }
        }
      }
    }
  }
</style>

<style lang="scss" scoped>
  @import "assets/style/general";
  #app {
    position: relative;

    #menu__btn {
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 1000;
    }

    #nav {
      position: absolute;
      left: -100vw;
      transition: left 200ms ease-in;

      &.navVisible {
        left: 0;
      }
    }
  }

  #button__top__scroll {
    position: fixed;
    bottom: 20px;
    right: 20px;

    @media all and (max-width: $s) {
      display: none;
    }
  }
</style>
