<template>
  <div id="grid__container">
    <div id="start" class="grid__template">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
    </div>

    <h2>grid-template-columns</h2>
    <code-block-css :code="flex.gtcFr" :full-screen="true"/>
    <div id="gtcFr" class="grid__template">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
    </div>
    <code-block-css :code="flex.gtcRepeat" :full-screen="true"/>
    <div id="gtcRepeat" class="grid__template">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
    </div>

    <h2>grid-column</h2>
    <div>
      <code-block-css :code="flex.gridColumn1" :full-screen="true"/>
      <code-block-css :code="flex.gridColumn2" :full-screen="true"/>
    </div>
    <div id="gridColumn" class="grid__template">
      <header>Header</header>
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
    </div>

    <h2>grid-template-areas</h2>
    <pre>
#grdArea {
  grid-template-rows: 100px repeat(2, 150px) 100px;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  grid-template-areas:
    "header header header"
    "nav section section"
    "nav section section"
    "footer footer footer";

  header, nav, section, footer {
    border: 1px solid black;
  }

  header {
    grid-area: header;
  }

  nav {
    grid-area: nav;
  }

  section {
    grid-area: section;
  }

  footer {
    grid-area: footer;
  }
}
    </pre>
    <div id="grdArea" class="grid__template">
      <header>HEADER</header>
      <nav>NAV</nav>
      <section>SECTION</section>
      <footer>FOOTER</footer>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Grid',
  data () {
    return {
      flex: {
        gtcFr: `div {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 3fr;
        }`,
        gtcRepeat: `div {
        grid-template-columns: repeat(2, 1fr) 2fr 100px;
        }`,
        gridColumn1: `div {
        grid-template-columns: repeat(4, 1fr);
        }`,
        gridColumn2: `header {
        grid-column: 1/5;
        }`
      }
    }
  }
}
</script>
header {
grid-column: 1/5;
border: 1px solid black;
text-align: center;
}
<style lang="scss" scoped>
  .grid__template {
    display: grid;

    div {
      height: 150px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      border-left: 1px dashed black;
      font-size: 35px;
      text-align: center;

      &:first-child {
        border-left: 1px solid black;
      }

      &:last-child {
        border-right: 1px solid black;
      }

      &:not(:last-child) {
        border-right: none;
      }
    }
  }

  #start {
    grid-column: 1/3;
    grid-template-columns: repeat(4, 1fr);
  }

  #grid__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;

    h2 {
      grid-column: 1/3;
    }
  }

  #gtcFr {
    grid-template-columns: 1fr 2fr 1fr 3fr;
  }

  #gtcRepeat {
    grid-template-columns: repeat(2, 1fr) 2fr 100px;
  }

  #gridColumn {
    grid-template-columns: repeat(4, 1fr);

    header {
      grid-column: 1/5;
      border: 1px solid black;
      text-align: center;
    }
  }

  #grdArea {
    grid-template-rows: 100px repeat(2, 150px) 100px;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
    grid-template-areas:
      "header header header"
      "nav section section"
      "nav section section"
      "footer footer footer";

    header, nav, section, footer {
      border: 1px solid black;
    }

    header {
      grid-area: header;
    }

    nav {
      grid-area: nav;
    }

    section {
      grid-area: section;
    }

    footer {
      grid-area: footer;
    }
  }
</style>
