<template>
  <nav>
    <ul>
      <li class="list__title">Généralités</li>
      <router-link :to="{ name: 'css-technology-bootstrap' }">
        <li :class="{ 'active-section': activeRoute('css-technology-bootstrap') }">
          <img src="/img/css/bootstrap.png" alt="Logo de la technologie Sass">
          Bootstrap
        </li>
      </router-link>
      <router-link :to="{ name: 'css-technology-gridFlex' }">
        <li :class="{ 'active-section': activeRoute('css-technology-gridFlex') }">
          <v-icon size="50">view_quilt</v-icon>
          Grid - Flex
        </li>
      </router-link>
      <router-link :to="{ name: 'css-technology-mediaQueries' }">
        <li :class="{ 'active-section': activeRoute('css-technology-mediaQueries') }">
          <v-icon size="50">phonelink</v-icon>
          Media-queries
        </li>
      </router-link>
      <router-link :to="{ name: 'css-technology-animation' }">
        <li :class="{ 'active-section': activeRoute('css-technology-animation') }">
          <v-icon size="50">3d_rotation</v-icon>
          Animation
        </li>
      </router-link>
      <router-link :to="{ name: 'css-technology-sass' }">
        <li :class="{ 'active-section': activeRoute('css-technology-sass') }">
          <img src="/img/css/sass.png" alt="Logo de la technologie Sass">
          Sass - Scss
        </li>
      </router-link>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'NavGeneral',
  methods: {
    activeRoute (routeName) {
      return this.$route.name === routeName
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/html/homeStyle";

  section {
    nav {
      ul {
        grid-template-columns: repeat(5, 1fr);

        li.list__title {
          grid-column: 1/6;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }
</style>
