<template>
  <section>
    <img src="/img/javascript/vuejs.png" alt="Logo de VueJS framework front en JS"/>
    <img src="/img/javascript/angular.svg" alt="Logo de VueJS framework front en JS"/>
    <img src="/img/javascript/react.png" alt="Logo de VueJS framework front en JS"/>
  </section>
</template>

<script>
export default {
  name: 'Framework',
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
  section {
    display: flex;
    align-items: flex-start;
    width: 100%;

    img {
      flex-shrink: 1;
      max-width: 33%;
    }
  }
</style>
