<template>
  <section>
    <h1>Ressources JQuery</h1>
    <p class="app__ressources">Ressources :</p>
    <ul class="app__ressources">
      <li>
        <a href="https://api.jquery.com" target="_blank">Site officiel de JQuery</a>
      </li>
      <li>
        <a href="https://www.grafikart.fr/tutoriels/jquery" target="_blank">Tutoriels Grafikart - JQuery</a>
      </li>
      <li>
        <a href="https://openclassrooms.com/fr/courses/1631636-simplifiez-vos-developpements-javascript-avec-jquery"
           target="_blank"
        >Tuto OC - JQuery</a>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  name: 'JQuery',
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/ressources";
</style>
